<clr-dropdown>
  <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
    {{ 'pages.sessions.table.auto_refresh.interval' | translate }}
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
    <button
      type="button"
      clrDropdownItem
      *ngFor="let timerItem of timersList"
      (click)="onClick(timerItem)"
      [clrDisabled]="timerItem === timer"
    >
      {{ timerItem / 1_000 }}s
    </button>
  </clr-dropdown-menu>
</clr-dropdown>
