:host {
  grid-column-start: 1;
}

#byte-array-header {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

mat-card {
  padding: 0.25rem;
}

mat-chip {
  margin-left: 0.25rem;
}

.binary-indicator {
  margin-left: 0.2rem;
}