:host {
  grid-column-start: 1;
  grid-column-end: 4;
}

#byte-array-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

mat-card {
  padding: 0.25rem;
}

mat-chip {
  margin-left: 0.25rem;
}