<section>
  <h1>{{ 'sessions.title' | translate }}</h1>

  <clr-datagrid
    (clrDgRefresh)="refreshSessions($event)"
    [clrDgLoading]="(loadingSessions$ | async) ?? false"
  >
    <clr-dg-action-bar>
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="manualRefreshSessions()"
      >
        {{ 'sessions.actions.refresh' | translate }}
      </button>

      <clr-dropdown class="auto-refresh">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          clrDropdownTrigger
        >
          {{ 'sessions.actions.auto_refresh.button.title' | translate }}
          <span *ngIf="subjectInterval | async as value">
            &nbsp;-&nbsp;
            {{
              value > 0
                ? value / 1_000 + 's'
                : ('sessions.actions.auto_refresh.button.disabled' | translate)
            }}
          </span>

          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" clrDropdownItem (click)="stopInterval()">
            {{ 'sessions.actions.auto_refresh.disable' | translate }}
          </button>
          <button
            type="button"
            clrDropdownItem
            *ngFor="let item of intervals; trackBy: trackByInterval"
            (click)="changeInterval(item)"
          >
            {{ item / 1_000 }}s
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </clr-dg-action-bar>

    <clr-dg-column>
      {{ 'sessions.columns.session_id' | translate }}
    </clr-dg-column>
    <clr-dg-column> {{ 'sessions.columns.status' | translate }} </clr-dg-column>
    <clr-dg-column>
      {{ 'sessions.columns.created_at' | translate }}
    </clr-dg-column>
    <clr-dg-column>
      {{ 'sessions.columns.cancelled_at' | translate }}
    </clr-dg-column>
    <clr-dg-column>
      {{ 'sessions.columns.actions' | translate }}
    </clr-dg-column>

    <ng-container *ngIf="loadSessions$ | async as list">
      <clr-dg-row *ngFor="let session of list.sessions">
        <clr-dg-cell>
          {{ session.sessionId }}
        </clr-dg-cell>
        <clr-dg-cell>
          <a
            [routerLink]="['/', 'sessions']"
            [queryParams]="{ status: session.status }"
          >
            <span
              [ngClass]="{
                'text-success': session.status === 1,
                'text-danger': session.status === 2
              }"
            >
              {{ 'sessions.cells.status.' + session.status | translate }} ({{
                session.status
              }})
            </span>
          </a>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="session.createdAt; else empty">
            {{
              session.createdAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="session.cancelledAt; else empty">
            {{
              session.cancelledAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
          <ng-template #empty> - </ng-template>
        </clr-dg-cell>
        <clr-dg-cell>
          <button
            type="button"
            [clrLoading]="(loadingSingleSession$ | async) === session.sessionId"
            class="btn btn-sm btn-secondary"
            (click)="viewSessionDetail(session.sessionId!)"
          >
            <clr-icon shape="eye"></clr-icon>
            {{ 'sessions.actions.details' | translate }}
          </button>
          <a
            class="btn btn-sm btn-secondary"
            [routerLink]="['/', 'tasks']"
            [queryParams]="{ sessionId: session.sessionId }"
          >
            <clr-icon shape="node"></clr-icon>
            {{ 'sessions.actions.related_tasks' | translate }}
          </a>
          <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            (click)="cancelSession(session.sessionId!)"
            [disabled]="session.cancelledAt"
          >
            <clr-icon shape="times"></clr-icon>
            {{ 'sessions.actions.cancel' | translate }}
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </ng-container>
    <clr-dg-footer>
      <clr-dg-pagination
        #pagination
        [clrDgPageSize]="(queryParam$('pageSize') | async) || 10"
        [clrDgTotalItems]="(totalSessions$ | async) ?? 0"
        [clrDgPage]="((queryParam$('page') | async) || 0) + 1"
      >
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">{{
          'sessions.pagination.per_page' | translate
        }}</clr-dg-page-size>
        <span *ngIf="(totalSessions$ | async) ?? 0 > 1 as total">
          {{
            (total > 1
              ? 'sessions.pagination.sessions'
              : 'sessions.pagination.session'
            ) | translate: { value: total }
          }}
        </span>
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</section>

<clr-modal
  [(clrModalOpen)]="opened"
  [clrModalSize]="'lg'"
  *ngIf="loadSingleSession$ | async as session"
>
  <h3 class="modal-title">
    {{ 'sessions.modal.title' | translate }} {{ session.session!.sessionId }}
  </h3>
  <div class="modal-body">
    <pre>{{ session.session! | json }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="opened = false">
      {{ 'sessions.modal.close' | translate }}
    </button>
  </div>
</clr-modal>
