<section>
  <h1>{{ 'sessions.title' | translate }}</h1>

  <clr-datagrid
    (clrDgRefresh)="refreshSessions$($event)"
    [clrDgLoading]="(loadingSessions$ | async) ?? false"
  >
    <clr-dg-column>
      {{ 'sessions.columns.session_id' | translate }}
    </clr-dg-column>
    <clr-dg-column> {{ 'sessions.columns.status' | translate }} </clr-dg-column>
    <clr-dg-column>
      {{ 'sessions.columns.created_at' | translate }}
    </clr-dg-column>
    <clr-dg-column>
      {{ 'sessions.columns.cancelled_at' | translate }}
    </clr-dg-column>
    <clr-dg-column>
      {{ 'sessions.columns.actions' | translate }}
    </clr-dg-column>

    <ng-container *ngIf="loadSessions$ | async as list">
      <clr-dg-row *ngFor="let session of list.sessions">
        <clr-dg-cell>
          <a
            [routerLink]="['/', 'tasks']"
            [queryParams]="{ sessionId: session.sessionId }"
          >
            {{ session.sessionId }}
          </a>
        </clr-dg-cell>
        <clr-dg-cell>
          {{ 'sessions.cells.' + session.status | translate }}
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="session.createdAt; else empty">
            {{
              session.createdAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="session.cancelledAt; else empty">
            {{
              session.cancelledAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
          <ng-template #empty> - </ng-template>
        </clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="cancelSession(session.sessionId!)"
            [disabled]="session.cancelledAt"
          >
            {{ 'sessions.actions.cancel' | translate }}
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </ng-container>
    <clr-dg-footer>
      <clr-dg-pagination
        #pagination
        [clrDgPageSize]="(queryParam$('pageSize') | async) || 10"
        [clrDgTotalItems]="(totalSessions$ | async) ?? 0"
        [clrDgPage]="((queryParam$('page') | async) || 0) + 1"
      >
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">{{
          'sessions.pagination.per_page' | translate
        }}</clr-dg-page-size>
        <span *ngIf="(totalSessions$ | async) ?? 0 > 1 as total">
          {{
            (total > 1
              ? 'sessions.pagination.sessions'
              : 'sessions.pagination.session'
            ) | translate: { value: total }
          }}
        </span>
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</section>
