<clr-vertical-nav-group>
  <cds-icon clrVerticalNavIcon shape="star"></cds-icon>
  <span i18n> Favorites </span>
  <clr-vertical-nav-group-children>
    <div *ngFor="let favorite of favorites$ | async; trackBy: trackByFavorites">
      <a
        class="nav-link"
        [routerLink]="generateRouterLink(favorite.url)"
        [queryParams]="favorite.queryParams"
        [title]="favorite.label"
        >{{ favorite.label }}</a
      >
    </div>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
