<section class="clr-row">
  <div class="clr-col-lg-4 clr-col-12">
    <ui-card dot="success">
      <span title> {{ 'dashboard.tasks.completed' | translate: param }} </span>
      <span link> {{ 'more-info' | translate }} </span>
    </ui-card>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <ui-card dot="warn">
      <span title>
        {{ 'dashboard.tasks.in-progress' | translate: param }}
      </span>
      <span link> {{ 'more-info' | translate }} </span>
    </ui-card>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <ui-card dot="danger">
      <span title> {{ 'dashboard.tasks.error' | translate: param }} </span>
      <span link> {{ 'more-info' | translate }} </span>
    </ui-card>
  </div>
</section>
