<section class="clr-row">
  <div class="clr-col-lg-4 clr-col-12">
    <ui-card [dotColor]="'success'">
      <span title> XX tâches complétées </span>
      <span link> En savoir plus </span>
    </ui-card>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <ui-card [dotColor]="'warn'">
      <span title> XX tâches en cours </span>
      <span link> En savoir plus </span>
    </ui-card>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <ui-card [dotColor]="'error'">
      <span title> XX tâches en erreur </span>
      <span link> En savoir plus </span>
    </ui-card>
  </div>
</section>
