<clr-combobox-container>
  <label>{{ 'pages.sessions-list.filters.status.title' | translate }}</label>
  <clr-combobox
    [ngModel]="selection"
    (ngModelChange)="onSelectionChange($event)"
    clrMulti="true"
  >
    <ng-container *clrOptionSelected="let selected">
      {{ sessionStatus[selected] }}
    </ng-container>
    <clr-options>
      <clr-option
        *clrOptionItems="let item of status"
        clrOptionItemsField="label"
        [clrValue]="item.value"
      >
        {{ 'pages.sessions-list.filters.status.' + item.label | translate }}
      </clr-option>
    </clr-options>
  </clr-combobox>
</clr-combobox-container>
