<section>
  <div class="host-form">
    <article id="host-input">
      <mat-form-field appearance="outline">
        <input matInput [formControl]="hostForm" (change)="inputChange()" placeholder="http://172.26.174.64:5000/">
        @if (hostForm.errors) {
          <mat-error i18n>Valid URL required</mat-error>
        }
      </mat-form-field>
    </article>
    <button mat-flat-button color="primary" (click)="updateConfig()" [disabled]="hostForm.errors" i18n>Update Host</button>
    <article id="host-test">
      <button mat-button (click)="testConnection()" [disabled]="hostForm.errors">
        <mat-icon [fontIcon]="getIcon('test')" />
        <span i18n>Test Connection</span>
      </button>
      @if (connectionError()) {
        <mat-error>{{ connectionError() }}</mat-error>
      }
    </article>
    @if (refresh()) {
      <app-spinner />
    } @else if (validTest() !== null) {
      <mat-icon [fontIcon]="getIcon(validTest() ? 'success' : 'fail')" />
    }
  </div>
  <button mat-stroked-button [disabled]="grpcInterceptor.host === null" (click)="clearHost()">Clear Host</button>
</section>