<clr-select-container>
  <label>{{ 'pages.components.filters.status-title' | translate }}</label>
  <select clrSelect (change)="onSelectionChange()" [(ngModel)]="selectedValue">
    <option
      *ngFor="let item of status; trackBy: trackByStatus"
      [value]="item.value"
    >
      {{ 'pages.sessions-list.filters.' + item.label | translate }}
    </option>
  </select>
</clr-select-container>
<button class="btn btn-sm" *ngIf="isActive()" (click)="clear()">
  {{ 'pages.components.filters.clear-filter' | translate }}
</button>
