[submodule "apps/api/src/assets/ArmoniK.Api"]
	path = apps/api/src/assets/ArmoniK.Api
	url = https://github.com/aneoconsulting/ArmoniK.Api.git
[submodule "apps/app/src/assets/ArmoniK.Api"]
	path = apps/app/src/assets/ArmoniK.Api
	url = https://github.com/aneoconsulting/ArmoniK.Api.git
[submodule "libs/shared/util/src/lib/shared-util/proto/ArmoniK.Api"]
	path = libs/shared/util/src/lib/shared-util/proto/ArmoniK.Api
	url = https://github.com/aneoconsulting/ArmoniK.Api.git
