<mat-card>
  @if (!hideGroupHeaders) {
    <mat-card-header>
      <mat-card-title>
        <a routerLink="/tasks" [queryParams]="createQueryParamManyStatuses()" [style]="'color:' + group.color + '; text-decoration: none'">
          {{ group.name }}
        </a>
        <span>
          {{ sumStatusCount(group.statuses) }}
        </span>
      </mat-card-title>
    </mat-card-header>
  }
  <mat-card-content>
    <ul>
      @for (status of group.statuses; track status) {
        <li>
          <a routerLink="/tasks" [queryParams]="createQueryParam(status)">
            <span>
              {{ statusToLabel(status) }}
            </span>
            <span>
              {{ updateCounter(status) }}
            </span>
          </a>
        </li>
      }
    </ul>
  </mat-card-content>
</mat-card>
  