<section>
  <h1>{{ 'pages.applications-list.title' | translate }}</h1>

  <clr-datagrid
    (clrDgRefresh)="refreshApplications($event)"
    [clrDgLoading]="(loadingApplications$ | async) ?? false"
  >
    <clr-dg-action-bar>
      <app-action-bar
        [stopInterval$]="stopInterval$"
        [isFiltered]="isFiltered()"
        [isOrdered]="isOrdered()"
        (refresh)="manualRefreshApplications()"
        (updateInterval)="onUpdateInterval($event)"
        (clearFilters)="clearAllFilters()"
        (clearSort)="clearOrder()"
      >
      </app-action-bar>
    </clr-dg-action-bar>

    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_NAME.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_NAME)"
    >
      {{ 'pages.applications-list.columns.name' | translate }}
      <clr-dg-filter [clrDgFilter]="nameFilter">
        <app-id-filter
          #nameFilter
          name="name"
          [inputValue]=" nameFilter$ | async"
        >
        </app-id-filter>
      </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_VERSION.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_VERSION)"
    >
      {{ 'pages.applications-list.columns.version' | translate }}
      <clr-dg-filter [clrDgFilter]="versionFilter">
        <app-id-filter
          #versionFilter
          name="version"
          [inputValue]="versionFilter$ | async"
        >
        </app-id-filter>
      </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_NAMESPACE.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_NAMESPACE)"
    >
      {{ 'pages.applications-list.columns.namespace' | translate }}
      <clr-dg-filter [clrDgFilter]="namespaceFilter">
        <app-id-filter
          #namespaceFilter
          name="namespace"
          [inputValue]="namespaceFilter$ | async"
        >
        </app-id-filter>
      </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_SERVICE.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_SERVICE)"
    >
      {{ 'pages.applications-list.columns.service' | translate }}
      <clr-dg-filter [clrDgFilter]="serviceFilter">
        <app-id-filter
          #serviceFilter
          name="service"
          [inputValue]="serviceFilter$ | async"
        >
        </app-id-filter>
      </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-column>
      {{ 'pages.applications-list.columns.actions' | translate }}
    </clr-dg-column>

    <ng-container *ngIf="loadApplications$ | async as list">
      <clr-dg-row
        *ngFor="let application of list.applications; trackBy: trackByApplication"
      >
        <clr-dg-cell>
          <span *ngIf="application.name as name; else empty"> {{ name }} </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="application.version as version; else empty">
            {{ version }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="application.namespace as namespace; else empty">
            {{ namespace }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="application.service as service; else empty">
            {{ service }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <a
            class="btn btn-sm btn-secondary"
            [routerLink]="['/', 'sessions']"
            [queryParams]="{ applicationName: application.name, applicationVersion: application.version }"
          >
            <clr-icon shape="nodes"></clr-icon>
            {{ 'pages.applications-list.actions.related_sessions' | translate }}
          </a>
        </clr-dg-cell>

        <ng-template #empty> - </ng-template>
      </clr-dg-row>
    </ng-container>
    <clr-dg-footer>
      <clr-dg-pagination
        #pagination
        [clrDgPageSize]="(pageSize$ | async) || 10"
        [clrDgTotalItems]="(totalApplications$ | async) ?? 0"
        [clrDgPage]="((page$ | async) || 0) + 1"
      >
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
          >{{ 'pages.applications-list.pagination.per_page' | translate
          }}</clr-dg-page-size
        >
        <span *ngIf="(totalApplications$ | async) ?? 0 > 1 as total">
          {{ (total > 1 ? 'pages.applications-list.pagination.applications' :
          'pages.applications-list.pagination.application' ) | translate : {
          value: total } }}
        </span>
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</section>
