.datagrid-action-bar {
  margin-top: 0;
}

armonik-admin-gui-auto-refresh-dropdown {
  margin-right: 0.6rem;
}

clr-dg-cell {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a:hover span {
    text-decoration: inherit;
  }
}
