<h2 mat-dialog-title i18n="Dialog title">Manage Statuses Groups</h2>

<mat-dialog-content>
  <ul class="groups" cdkDropListGroup>
    <li *ngFor="let group of groups">
      <div class="group-header">
        <h3 [style]="'color:' + group.color">
          {{ group.name }}
        </h3>
        <div class="group-header-actions">
          <button mat-icon-button (click)="openEditStatusGroupModal(group)" i18n-matTooltip="Edit the group" matTooltip="Edit">
            <mat-icon [fontIcon]="getIcon('edit')"/>
          </button>
          <button mat-icon-button (click)="onDelete(group)" i18n-matTooltip="Delete the group" matTooltip="Delete">
            <mat-icon [fontIcon]="getIcon('delete')"/>
          </button>
        </div>
      </div>
      <ul cdkDropList
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListData]="group.statuses"
        >
        <li *ngFor="let status of group.statuses" cdkDrag class="task-status">
          <mat-icon aria-hidden="true" [fontIcon]="getIcon('drag')"/>
          <span>{{ statusToLabel(status) }}</span>
        </li>
      </ul>
    </li>
    <div class="addGroup">
      <button mat-stroked-button (click)="openAddStatusGroupModal()">
        <mat-icon aria-hidden="true" [fontIcon]="getIcon('add')"/>
        <span i18n="Open a modal on click">Add a group</span>
      </button>
    </div>
  </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" i18n="Dialog action"> Cancel </button>
  <button mat-flat-button [mat-dialog-close]="{ groups }" color="primary" i18n="Dialog action"> Confirm </button>
</mat-dialog-actions>