.datagrid-action-bar {
  margin-top: 0;
}

app-auto-refresh-dropdown {
  margin-right: 0.6rem;
}

.auto-refresh > button > span {
  text-transform: capitalize;
}

clr-dg-cell {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a:hover span {
    text-decoration: inherit;
  }
}

$textTypes: ('success', 'danger');

@each $type in $textTypes {
  .text-#{$type} {
    color: var(--#{$type}-500);
  }
}
