<section *ngIf="isFrench()">
  <h1>Comprendre et utiliser l'application</h1>

  <p>
    Cette page vous permet de comprendre l'ensemble des fonctionnalités
    présentes au sein de l'interface afin de l'utiliser au mieux.
  </p>

  <h2>Afficher des données</h2>

  <p cds-text>
    Différentes données, comme les sessions, les tâches, sont affichées dans
    différentes tables présentes au sein de l'application.
  </p>

  <p cds-text>
    Ces tables permettent de visualiser, trier et filtrer les données. Une
    colonne est triable dès lors que l'icône
    <clr-icon shape="filter-grid" class="is-solid"></clr-icon> pour filtrer est
    visible. Pour trier une colonne, il faut cliquer sur le nom de cette
    dernière. Pour filtrer une colonne, il faut cliquer sur l'icône
    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>.
  </p>

  <h2>Naviguer entre les pages</h2>

  <p cds-text>
    La navigation au sein de l'application se fait de différentes manières.
  </p>

  <ul>
    <li>
      Via le tableau de bord. Ce dernier liste l'ensemble des applications au
      sein d'ArmoniK. Il est ensuite possible de naviguer au sein des sessions
      d'une application puis au sein des tâches d'une session.
    </li>
    <li>
      Via les onglets. Ces derniers permettent de passer rapidement d'une
      application à une autre dès que vous y avez déjà été.
    </li>
  </ul>

  <h2>Trouver les erreurs</h2>

  <p cds-text>
    Il peut arriver qu'une erreur survienne lors de l'utilisation de
    l'application. Cela peut se manifester par l'apparition d'un bandeau rouge
    ou par l'affichage d'une page d'erreur.
  </p>

  <p cds-text>
    Lors que cela se produit, il est possible d'en savoir plus sur l'erreur via
    la console et l'onglet réseau de l'inspecteur du navigateur.
    <br />
    Lors d'une remontée de bogues, il est important de
    <strong> transmettre cette erreur </strong> ainsi que le
    <strong> numéro de version </strong> de l'application.
  </p>

  <h2>Changer la langue</h2>

  <p cds-text>
    L'application est disponible en 2 langues : français et anglais. Pour la
    changer, il suffit simplement de cliquer sur le bouton correspondant dans
    l'en-tête de la page, en haut à droite.
  </p>

  <p cds-text>
    Le langue actuellement utilisé n'est plus disponible à la sélection et son
    affichage est grisé. Aussi, votre sélection est gardée en mémoire pour vos
    prochaines navigations au sein de l'application.
  </p>

  <h2>Voir la version</h2>

  <p cds-text>
    La version de l'application est affichée dans la barre de navigation en bas
    à gauche. Elle permet de donner des informations sur la version de
    l'application utilisée.
  </p>

  <p cds-text>
    Il est important de
    <strong> transmettre cette version à l'équipe de développement </strong>
    lors d'une remonté de bogues afin de faciliter la correction de ces
    derniers.
  </p>
</section>

<section *ngIf="isEnglish()">
  <h1>Understanding and using the application</h1>

  <p>
    This page allows you to understand all the functionalities present in the
    interface in order to use it at best.
  </p>

  <h2>Display data</h2>

  <p cds-text>
    Different data, such as sessions, tasks, are displayed in different tables
    within the application.
  </p>

  <p cds-text>
    These tables allow you to view, sort and filter data. A column is sortable
    as soon as the icon
    <clr-icon shape="filter-grid" class="is-solid"></clr-icon> to filter is
    visible. To sort a column, click on the name of the column. To filter a
    column, click on the icon
    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>.
  </p>

  <h2>Navigate between pages</h2>

  <p cds-text>
    The navigation within the application is done in different ways.
  </p>

  <ul>
    <li>
      Via the dashboard. The latter lists all the applications within ArmoniK.
      It is then possible to navigate within the sessions of an application and
      then within the tasks of a session.
    </li>
    <li>
      Via the tabs. These tabs allow you to quickly switch from one application
      to another once you've been there.
    </li>
  </ul>

  <h2>Find the errors</h2>

  <p cds-text>
    It may happen that an error occurs while using the application. This can be
    shown by the appearance of a red banner or by the display of an error page.
  </p>

  <p cds-text>
    When this happens, it is possible to find out more about the error via the
    console and the network tab of the browser inspector.
    <br />
    When reporting bugs, it is important to
    <strong> forward this error </strong> as well as the
    <strong> version number </strong> of the application.
  </p>

  <h2>Change the language</h2>

  <p cds-text>
    The application is available in 2 languages: French and English. To change
    it, you just have to click on the corresponding button in the the header of
    the page, on the top right.
  </p>

  <p cds-text>
    The language currently in use is no longer available for selection and its
    selection and displayed is grayed out color. Also, your selection is kept in
    memory for your next future navigations within the application.
  </p>

  <h2>See the version</h2>

  <p cds-text>
    The version of the application is displayed in the bottom left navigation
    bar. It gives information about the version of the application of the
    application used.
  </p>

  <p cds-text>
    It is important to to
    <strong> forward this version to the development team </strong>
    when a bug is reported in order to facilitate the correction of these the
    latter.
  </p>
</section>
