<h1>{{ 'pages.dashboard.title' | translate }}</h1>

<section class="applications">
  <h2>{{ 'pages.dashboard.applications.title' | translate }}</h2>

  <button
    class="btn btn-sm btn-secondary"
    (click)="manualRefreshApplications()"
  >
    <clr-icon shape="refresh"></clr-icon>
    {{ 'pages.dashboard.applications.actions.refresh' | translate }}
  </button>

  <div class="applications__grid clr-row">
    <ng-container *ngIf="applications$ | async as applications">
      <ng-container
        *ngIf="
          applications.application &&
          applications.application.length > 0 &&
          !!(loadingApplications$ | async)
        "
      >
        <div
          class="clr-col-12 clr-col-lg-4"
          *ngFor="
            let application of applications.application;
            trackBy: trackByApplication
          "
        >
          <article class="card">
            <h3
              class="card-header"
              [title]="application.name + '-' + application.version"
            >
              {{ application.name }} - {{ application.version }}
            </h3>
            <footer class="card-footer">
              <a
                class="btn btn-sm btn-link"
                [routerLink]="['/', 'sessions']"
                [queryParams]="{
                  applicationName: application.name,
                  applicationVersion: application.version
                }"
              >
                {{
                  'pages.dashboard.applications.related_sessions' | translate
                }}
              </a>
            </footer>
          </article>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="loadingApplications$ | async">
      <ng-container *ngTemplateOutlet="loading"> </ng-container>
    </ng-container>
  </div>

  <div
    class="applications__pagination clr-row clr-justify-content-between clr-align-items-center"
  >
    <span>
      {{ total }} applications - {{ total > 0 ? page + 1 : 0 }} /
      {{ lastPage + 1 }}
    </span>
    <div>
      <button
        class="btn btn-secondary"
        (click)="previousPage()"
        [disabled]="!hasApplications || isFirstPage"
      >
        <clr-icon shape="caret left"></clr-icon>
        {{ 'pages.dashboard.applications.actions.previous_page' | translate }}
      </button>

      <button
        class="btn btn-secondary"
        (click)="nextPage()"
        [disabled]="!hasApplications || isLastPage"
      >
        {{ 'pages.dashboard.applications.actions.next_page' | translate }}
        <clr-icon shape="caret right"></clr-icon>
      </button>
    </div>
  </div>
</section>

<section class="errors-list">
  <h2>
    {{ 'pages.dashboard.errors.title' | translate }}
  </h2>

  <app-alert-error [errors]="errors"></app-alert-error>
  <app-pages-dashboard-applications-errors-list
    [stateKey]="applicationsErrorsStateKey"
    [loading]="applicationsErrorsLoading"
    [applications]="applicationsErrors"
    [isSeqUp]="settingsService.seqSubject$ | async"
    (clickSeqLink)="redirectToSeq($event)"
    (refresh)="onRefreshApplicationsErrors($event)"
  ></app-pages-dashboard-applications-errors-list>
</section>

<ng-template #loading>
  <article
    class="card clr-col-12 clr-col-lg-4"
    *ngFor="let index of [].constructor(pageSize)"
  >
    <h3 class="card-header"></h3>
    <footer class="card-footer">
      <a class="btn btn-sm btn-link"> </a>
    </footer>
  </article>
  <div class="applications__grid__spinner">
    <clr-spinner>{{ 'pages.dashboard.applications.loading' }}</clr-spinner>
  </div>
</ng-template>
