<span *ngIf="first" i18n="Filter condition">Where</span>
<span *ngIf="!first" i18n="Filter condition">And</span>
<mat-form-field *ngIf="filter.for !== 'generic'" appearance="outline" subscriptSizing="dynamic">
  <mat-label i18n="Label input">Property</mat-label>
  <input matInput [matAutocomplete]="autoProperty" [formControl]="propertyFormControl" (input)="onPropertyChange()">
  <mat-autocomplete #autoProperty 
    (optionSelected)="onPropertyChange()"
    >
    <mat-option *ngFor="let property of filteredProperties | async" [value]="property">
      {{ property }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field *ngIf="filter.for === 'generic'" appearance="outline" subscriptSizing="dynamic">
  <mat-label i18n="Label input">Generic</mat-label>
  <input type="text" matInput [matAutocomplete]="autoGeneric" [formControl]="genericFormControl" (input)="onGenericFieldChange()">
  <mat-autocomplete #autoGeneric (optionSelected)="onGenericFieldChange()">
    <mat-option *ngFor="let column of filteredGenerics | async" [value]="column">
      {{ column }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-label i18n="Label input">Operator</mat-label>
  <input matInput [matAutocomplete]="autoOperators" [formControl]="operatorFormControl" (input)="onOperatorChange()">
  <mat-autocomplete #autoOperators (optionSelected)="onOperatorChange()">
    <mat-option *ngFor="let operator of filteredOperators | async" [value]="operator">
      {{ operator }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<app-filters-dialog-input [input]="findInput(filter)" [statusFormControl]="statusFormControl" [filteredStatuses]="filteredStatuses" (valueChange)="onInputChange($event)"></app-filters-dialog-input>