@use 'styles' as *;
@use '@angular/material' as mat;

:host {
  @include flex-row(2rem);
}

span {
  padding-top: 1rem;
  min-width: 3rem;
  text-align: end;
}

.filters {
  background-color: light-dark(mat.get-theme-color($theme, neutral-variant, 90), mat.get-theme-color($theme, primary, 35)) !important;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.filters-and {
  @include flex-col(1rem);
}