@if (first) {
  <span i18n="Filter condition">Where</span>
} @else {
  <span i18n="Filter condition">Or</span>
}
<div class="filters">
  <div class="filters-and">
    @for(filtersAnd of filtersOr; track filtersAnd) {
      <app-filters-dialog-and
        [first]="$first"
        [filter]="filtersAnd"
        [customColumns]="customColumns"
        (removeChange)="onRemoveAnd($event)"
      >
      </app-filters-dialog-and>
    }
    <button mat-button (click)="onAdd()" style="width: fit-content;">
      <mat-icon aria-hidden="true" [fontIcon]="getIcon('add')"></mat-icon>
      <span i18n>Add an And Filter</span>
    </button>
  </div>
</div>

<button mat-icon-button aria-label="More options" mat-tooltip="More options" [matMenuTriggerFor]="menu">
  <mat-icon aria-hidden="true" [fontIcon]="getIcon('more')"></mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onRemoveOr()">
    <mat-icon aria-hidden="true" [fontIcon]="getIcon('delete')"></mat-icon>
    <span i18n>Remove</span>
  </button>
</mat-menu>