<div class="filters-toolbar">
  <button class="manage-filters" mat-button (click)="openFiltersDialog()" matTooltip="Add or Remove Filters" i18n-matTooltip>
    <mat-icon aria-hidden="true" [fontIcon]="getIcon('filter')"/>
    <span i18n="User will be able the create or delete filters">Manage filters</span>
  </button>

  <ng-container *ngIf="hasFilters">
    <button mat-icon-button *ngIf="showFilters" matTooltip="Hide filters" (click)="toggleShow()" [disabled]="hasOneOrFilter">
      <mat-icon aria-hidden="true" [fontIcon]="getIcon('arrow-up')"/>
    </button>
    <button mat-icon-button *ngIf="!showFilters" matTooltip="Show filters" (click)="toggleShow()" [disabled]="hasOneOrFilter">
      <mat-icon aria-hidden="true" [fontIcon]="getIcon('arrow-down')"/>
    </button>

    <div class="filters-list">
      <ng-container *ngIf="showFilters">
        <ng-container *ngFor="let filtersAnd of filters; let first = first; trackBy: trackByFilter">
          <div class="filters-list-and">
            <span class="filters-list-text" *ngIf="first" i18n="Filter condition">
              Where
            </span>
            <span class="filters-list-text" *ngIf="!first && showFilters" i18n="Filter condition">
              Or
            </span>
            <app-filters-chips [filtersAnd]="filtersAnd"/>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!showFilters">
        <div class="filters-list-and">
          <span class="filters-list-text" i18n="Filter condition">
            Where
          </span>
          <app-filters-chips [filtersAnd]="filters[0]"/>
          <span  *ngIf="!hasOneOrFilter" class="filters-list-text" i18n="Filter condition">
            Or ...
          </span>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>