<div class="filters-toolbar">
  <button class="manage-filters" mat-button (click)="openFiltersDialog()" matTooltip="Add or Remove Filters" i18n-matTooltip>
    <mat-icon aria-hidden="true" [fontIcon]="getIcon('filter')"/>
    <span i18n="User will be able the create or delete filters">Manage filters</span>
  </button>
  @if (hasFilters) {
    @if (showFilters) {
      <button mat-icon-button matTooltip="Hide filters" (click)="toggleShow()" [disabled]="hasOneOrFilter">
        <mat-icon aria-hidden="true" [fontIcon]="getIcon('arrow-up')"/>
      </button>
    } @else {
      <button mat-icon-button matTooltip="Show filters" (click)="toggleShow()" [disabled]="hasOneOrFilter">
        <mat-icon aria-hidden="true" [fontIcon]="getIcon('arrow-down')"/>
      </button>
    }

    <div class="filters-list">
      @if (showFilters) {
        @for(filtersAnd of filters; track filtersAnd; let first = $first) {
          <div class="filters-list-and">
            @if(first) {
              <span class="filters-list-text" i18n="Filter condition">
                Where
              </span>
            } @else {
              <span class="filters-list-text" i18n="Filter condition">
                Or
              </span>
            }
            <app-filters-chips [filtersAnd]="filtersAnd"/>
          </div>
        
        }
      } @else {
        <div class="filters-list-and">
          <span class="filters-list-text" i18n="Filter condition">
            Where
          </span>
          <app-filters-chips [filtersAnd]="filters[0]"/>
          @if(!hasOneOrFilter) {
            <span class="filters-list-text" i18n="Filter condition">
              Or ...
            </span>
          }
        </div>
      }
    </div>
  }
</div>