.datagrid-action-bar {
  margin-top: 0;
}

clr-dg-cell {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a:has(span) {
    text-decoration: none;

    &:hover span {
      text-decoration: underline;
    }
  }
}

$textTypes: ('success', 'danger');

@each $type in $textTypes {
  .#{$type} {
    color: var(--#{$type}-500);
    text-decoration-color: var(--#{$type}-500);
  }
}
