:root {
  // Success
  --success-500: hsl(93, 67%, 38%);
  --success-900: hsl(93, 100%, 16%);
  // Warn
  --warn-500: hsl(48, 94%, 57%);
  --warn-900: hsl(38, 100%, 28%);
  // Danger
  --danger-500: hsl(0, 100%, 50%);
  --danger-900: hsl(9, 100%, 20%);
  // Pending
  --pending-500: hsl(198, 0%, 70%);
  --pending-900: hsl(0, 0%, 20%);
  // Creating
  --creating-500: hsl(198, 0%, 70%);
  --creating-900: hsl(198, 0%, 20%);
  // Created
  --created-500: hsl(198, 0%, 70%);
  --created-900: hsl(198, 0%, 20%);
  // Submitted
  --submitted-500: hsl(198, 0%, 70%);
  --submitted-900: hsl(198, 0%, 20%);
  // Dispatched
  --dispatched-500: hsl(198, 0%, 70%);
  --dispatched-900: hsl(198, 0%, 20%);
  // Cancelled
  --cancelled-500: hsl(198, 80%, 46%);
  --cancelled-900: hsl(198, 100%, 21%);

  // Colors
  --color-grey: hsl(0, 0%, 80%);
  --color-orange: hsl(32, 95%, 44%);
  --color-yellow: hsl(41, 96%, 40%);
  --color-green: hsl(142, 76%, 36%);
  --color-amber: hsl(21, 90%, 48%);
  --color-red: hsl(0, 72%, 51%);

  // Outlines
  --outline-color-grey: hsl(0, 0%, 80%, 0.7);
  --outline-color-orange: hsl(32, 95%, 44%, 0.7);
  --outline-color-yellow: hsl(41, 96%, 40%, 0.7);
  --outline-color-green: hsl(142, 76%, 36%, 0.7);
  --outline-color-amber: hsl(21, 90%, 48%, 0.7);
  --outline-color-red: hsl(0, 72%, 51%, 0.7);

}
