:root {
  // Success
  --success-500: hsl(93, 67%, 38%);
  --success-900: hsl(93, 100%, 16%);
  // Warn
  --warn-500: hsl(48, 94%, 57%);
  --warn-900: hsl(38, 100%, 28%);
  // Danger
  --danger-500: hsl(0, 100%, 50%);
  --danger-900: hsl(9, 100%, 20%);
  // Pending
  --pending-500: hsl(198, 0%, 70%);
  --pending-900: hsl(0, 0%, 20%);
  // Creating
  --creating-500: hsl(198, 0%, 70%);
  --creating-900: hsl(198, 0%, 20%);
  // Created
  --created-500: hsl(198, 0%, 70%);
  --created-900: hsl(198, 0%, 20%);
  // Submitted
  --submitted-500: hsl(198, 0%, 70%);
  --submitted-900: hsl(198, 0%, 20%);
  // Dispatched
  --dispatched-500: hsl(198, 0%, 70%);
  --dispatched-900: hsl(198, 0%, 20%);
}
