:root {
  // Success
  --success-500: hsl(93, 67%, 38%);
  --success-900: hsl(93, 100%, 16%);
  // Warn
  --warn-500: hsl(48, 94%, 57%);
  --warn-900: hsl(38, 100%, 28%);
  // Danger
  --danger-500: hsl(0, 100%, 50%);
  --danger-900: hsl(9, 100%, 20%);
}
