<article class="card">
  <h3
    class="card-header"
    [title]="
      application?._id?.applicationName +
      ' - ' +
      application?._id?.applicationVersion
    "
  >
    {{ application?._id?.applicationName }} -
    {{ application?._id?.applicationVersion }}
  </h3>
  <div class="card-block dots">
    <div
      class="card-title card-title__value"
      [title]="'pages.dashboard.applications.pending' | translate: application"
    >
      <span> {{ application?.countTasksPending ?? 0 }} </span>
      <span class="dot dot-pending"></span>
    </div>
    <div
      class="card-title card-title__value"
      [title]="
        'pages.dashboard.applications.processing' | translate: application
      "
    >
      <span> {{ application?.countTasksProcessing ?? 0 }} </span>
      <span class="dot dot-warn"></span>
    </div>
    <div
      class="card-title card-title__value"
      [title]="'pages.dashboard.applications.error' | translate: application"
    >
      <span> {{ application?.countTasksError ?? 0 }} </span>
      <span class="dot dot-danger"></span>
    </div>
    <div
      class="card-title card-title__value"
      [title]="
        'pages.dashboard.applications.completed' | translate: application
      "
    >
      <span> {{ application?.countTasksCompleted ?? 0 }} </span>
      <span class="dot dot-success"></span>
    </div>
  </div>
  <div class="card-block last-sessions flex flex-col flex-grow">
    <div class="card-title">
      {{ 'pages.dashboard.applications.last_sessions' | translate }}
    </div>
    <ul>
      <li
        *ngFor="let session of application?.sessions; trackBy: trackBySession"
      >
        <a
          [routerLink]="[
            '/',
            'applications',
            application?._id?.applicationName,
            application?._id?.applicationVersion,
            'sessions',
            session._id
          ]"
          >{{ session._id }}</a
        >
        <span> - {{ session.createdAt | date: 'short' }} </span>
      </li>
    </ul>
  </div>
  <footer class="card-footer">
    <button class="btn btn-sm btn-link" (click)="onClick()">
      {{ 'pages.dashboard.applications.see-sessions' | translate }}
    </button>
  </footer>
</article>
