<div class="btn-group">
  <button
    type="button"
    class="btn btn-sm btn-secondary"
    (click)="openModalManageColumns()"
  >
    {{ 'components.custom_columns_manager.manage_columns' | translate }}
  </button>
  <button
    type="button"
    class="btn btn-sm btn-secondary"
    (click)="openModalAddColumn()"
  >
    {{ 'components.custom_columns_manager.add_column' | translate }}
  </button>
</div>

<clr-modal
  [clrModalOpen]="modalAddColumnOpened"
  [clrModalClosable]="false"
  [clrModalSize]="'lg'"
>
  <h3 class="modal-title">
    {{
      'components.custom_columns_manager.modals.add_column.title' | translate
    }}
  </h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>
          {{
            'components.custom_columns_manager.modals.add_column.name_input.label'
              | translate
          }}</label
        >
        <input
          [placeholder]="
            'components.custom_columns_manager.modals.add_column.name_input.placeholder'
              | translate
          "
          clrInput
          name="name"
          [(ngModel)]="newColumnName"
        />
        <clr-control-helper>{{
          'components.custom_columns_manager.modals.add_column.name_input.helper_text'
            | translate
        }}</clr-control-helper>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeModalAddColumn()"
    >
      {{
        'components.custom_columns_manager.modals.add_column.close' | translate
      }}
    </button>
    <button type="button" class="btn btn-primary" (click)="addColumn()">
      {{
        'components.custom_columns_manager.modals.add_column.add' | translate
      }}
    </button>
  </div>
</clr-modal>

<clr-modal
  [clrModalOpen]="modalManageColumnsOpened"
  [clrModalClosable]="false"
  [clrModalSize]="'lg'"
>
  <h3 class="modal-title">
    {{
      'components.custom_columns_manager.modals.manage_columns.title'
        | translate
    }}
  </h3>
  <div class="modal-body">
    <ng-container *ngIf="columns$ | async as columns">
      <ol class="list" *ngIf="columns.size > 0; else emptyCustomColumns">
        <li *ngFor="let column of columns">
          {{ column }}
          &nbsp;
          <button
            class="btn btn-sm btn-danger-outline"
            type="button"
            (click)="removeColumn(column)"
          >
            {{
              'components.custom_columns_manager.modals.manage_columns.remove'
                | translate
            }}
          </button>
        </li>
      </ol>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="closeModalManageColumns()"
    >
      {{
        'components.custom_columns_manager.modals.manage_columns.close'
          | translate
      }}
    </button>
  </div>
</clr-modal>

<ng-template #emptyCustomColumns>
  {{
    'components.custom_columns_manager.modals.manage_columns.empty' | translate
  }}
</ng-template>
