<div class="btn-group">
  <button
    type="button"
    class="btn btn-sm btn-secondary"
    (click)="openModalManageColumns()"
  >
    Manage columns
  </button>
  <button
    type="button"
    class="btn btn-sm btn-secondary"
    (click)="openModalAddColumn()"
  >
    Add a column
  </button>
</div>

<clr-modal
  [clrModalOpen]="modalAddColumnOpened"
  [clrModalClosable]="false"
  [clrModalSize]="'lg'"
>
  <h3 class="modal-title">Add a column</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label> Name</label>
        <input
          placeholder="Enter a name"
          clrInput
          name="name"
          [(ngModel)]="newColumnName"
        />
        <clr-control-helper
          >Name must be unique. You can use '.' to access nested properties. You
          must have data to view custom columns.
        </clr-control-helper>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeModalAddColumn()"
    >
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="addColumn()">
      Add
    </button>
  </div>
</clr-modal>

<clr-modal
  [clrModalOpen]="modalManageColumnsOpened"
  [clrModalClosable]="false"
  [clrModalSize]="'lg'"
>
  <h3 class="modal-title">Manage columns</h3>
  <div class="modal-body">
    <ng-container *ngIf="columns$ | async as columns">
      <ol class="list" *ngIf="columns.size > 0; else emptyCustomColumns">
        <li *ngFor="let column of columns">
          {{ column }}
          &nbsp;
          <button
            class="btn btn-sm btn-danger-outline"
            type="button"
            (click)="removeColumn(column)"
          >
            Remove
          </button>
        </li>
      </ol>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="closeModalManageColumns()"
    >
      Close
    </button>
  </div>
</clr-modal>

<ng-template #emptyCustomColumns> No custom columns </ng-template>
