<clr-main-container>
  <ui-header>
    <a routerLink="/" branding>
      <span class="title">
        <figure>
          <img src="assets/images/armonik-logo.png" alt="ArmoniK logo" />
        </figure>
        &nbsp; - &nbsp;
        <app-pages-time></app-pages-time>
      </span>
    </a>
    <app-pages-languages-selector actions></app-pages-languages-selector>
    <app-pages-applications-subnav subnav></app-pages-applications-subnav>
  </ui-header>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="1">
      <a
        *ngFor="let link of links"
        clrVerticalNavLink
        [routerLink]="link.path"
        routerLinkActive="active"
        >{{ link.label }}</a
      >
      <div class="nav-divider" *ngIf="isSeqEnabled || isGrafanaEnabled"></div>
      <a clrVerticalNavLink href="/seq/" target="_blank" *ngIf="isSeqEnabled">
        <clr-icon shape="crosshairs" clrVerticalNavIcon></clr-icon>
        Seq</a
      >
      <a
        clrVerticalNavLink
        href="/grafana/"
        target="_blank"
        *ngIf="isGrafanaEnabled"
      >
        <clr-icon shape="line-chart" clrVerticalNavIcon></clr-icon>
        Grafana</a
      >
      <div class="nav-divider"></div>
      <app-pages-navigation-favorites></app-pages-navigation-favorites>
      <div class="nav-divider"></div>
      <a
        clrVerticalNavLink
        routerLink="/how-to-use"
        routerLinkActive="active"
        >{{ 'navigation.how_to_use' | translate }}</a
      >
      <div class="version">
        <span> v0.7.0 </span>
      </div>
    </clr-vertical-nav>

    <div class="content-area">
      <app-pages-modal-favorites> </app-pages-modal-favorites>
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
