<clr-main-container>
  <ui-header>
    <a routerLink="/" branding>
      <span class="title">
        ArmoniK -
        <span class="">
          {{ now | date: 'short' }}
        </span>
      </span>
    </a>
    <ul actions class="list-unstyled language">
      <li *ngFor="let language of languages; trackBy: trackByLanguageName">
        <button class="btn btn-link" (click)="changeLanguage(language.code)">
          {{ language.name | uppercase }}
        </button>
      </li>
    </ul>
    <ul subnav class="nav" role="tablist">
      <li class="nav-item" role="tab" *ngIf="currentApplications.length === 0">
        {{ 'header.subnav.no-current-applications' | translate }}
      </li>
      <li
        class="nav-item"
        role="tab"
        *ngFor="
          let current of currentApplications;
          trackBy: trackByApplicationId
        "
      >
        <a
          class="btn btn-link nav-link"
          [routerLink]="[
            '/admin',
            'applications',
            current.applicationName,
            current.applicationVersion,
            'sessions'
          ]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ current.applicationName }} - {{ current.applicationVersion }}</a
        >
        <button
          type="button"
          class="close-btn"
          [title]="'header.subnav.close-tab' | translate"
        >
          <span class="sr-only">{{
            'header.subnav.close-tab' | translate
          }}</span>
          <clr-icon
            shape="times"
            class="is-error"
            (click)="removeApplication(current)"
          ></clr-icon>
        </button>
      </li>
    </ul>
  </ui-header>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="1">
      <a
        *ngFor="let link of links"
        clrVerticalNavLink
        [routerLink]="link.path"
        routerLinkActive="active"
        >{{ link.label }}</a
      >
    </clr-vertical-nav>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
