[actions] .btn {
  min-width: 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

  & figure {
    margin: 0;
    & img {
      height: 1rem;
      width: auto;
    }
  }
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.close-btn {
  background-color: transparent;

  cursor: pointer;
  border: unset;
}

.version {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  margin-bottom: 0.9rem;
}

.content-area {
  position: relative;
}
