.detailed-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.general-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 20rem;
}

.general-actions {
  display: flex;
  align-items: center;
}

.group-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bolder;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--mat-table-background-color);
}

app-refresh-button {
  padding-left: 0.5rem;
}

mat-card {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0;
  background-color: var(--mat-sidenav-content-background-color);
}

mat-chip {
  background-color: red !important;
  box-shadow: 0 0 10px red;
}

mat-chip p, mat-chip mat-icon {
  color: white !important;
}

p {
  margin: 0;
}