.btn-star {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 0.5rem;
  line-height: 0.5rem;

  height: auto;
}

.btn-star span {
  margin-top: 0.25rem;
}

clr-input-container.clr-form-control {
  margin-top: 0;
  padding-bottom: 0.2rem;
}

.favorites-container button:active {
  box-shadow: none;
}
