.favorites-container {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

clr-input-container.clr-form-control {
  margin-top: 0;
  padding-bottom: 0.2rem;
}

.favorites-container button:active {
  box-shadow: none;
}
