<div class="favorites-container">
  <button
    class="btn-star btn btn-inverse btn-link"
    title="{{
      ((hasCurrentPageFavorite$() | async)
        ? 'favorites.button.remove'
        : 'favorites.button.add'
      ) | translate
    }}"
    (click)="togglePageFavorite()"
  >
    <clr-icon
      shape="star"
      size="24"
      [class.is-solid]="hasCurrentPageFavorite$() | async"
    ></clr-icon>
    <span *ngIf="getFavoriteName$() | async as name">
      {{ name }}
    </span>
  </button>
  <clr-modal [(clrModalOpen)]="isOpened">
    <h3 class="modal-title">{{ 'favorites.modal.title' | translate }}</h3>
    <div class="modal-body">
      <clr-input-container>
        <label>{{ 'favorites.modal.input.label' | translate }}</label>
        <input
          clrInput
          type="text"
          name="favoriteName"
          [(ngModel)]="favoriteName"
          placeholder="{{ 'favorites.modal.input.placeholder' | translate }}"
          required
        />
      </clr-input-container>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="addPageFavorite()" class="btn btn-primary">
        {{ 'favorites.modal.button' | translate }}
      </button>
    </div>
  </clr-modal>
</div>
