.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  $dotTypes: ('success', 'warn', 'danger');

  @each $type in $dotTypes {
    &-#{$type} {
      box-shadow: 0 0 0 3px var(--#{$type}-900);
      background-color: var(--#{$type}-500);
    }
  }
}

.card-title {
  margin-bottom: 0 !important;
}
