<div class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/all" routerLinkActive="active">{{
        'applications.all' | translate
      }}</a>
    </li>
    <li
      class="nav-item"
      *ngFor="
        let application of currentApplications;
        trackBy: trackByApplication
      "
    >
      <a
        class="nav-link"
        [routerLink]="['/admin', application.id]"
        routerLinkActive="active"
      >
        {{ application.id }}
      </a>
      <button
        class="btn btn-sm btn-link btn-delete"
        (click)="removeApplication(application)"
        [title]="'applications.remove.title' | translate"
      >
        <clr-icon shape="times" size="16" class="is-error"></clr-icon>
      </button>
    </li>
    <li>
      <button
        class="btn btn-sm btn-icon"
        (click)="addApplication()"
        [title]="'applications.add.title' | translate"
      >
        <clr-icon shape="plus" size="24"></clr-icon>
      </button>
    </li>
  </ul>
</div>

<app-pages-applications-modal
  [(opened)]="opened"
  (receivedApplication)="onReceivedApplication($event)"
></app-pages-applications-modal>
