@use 'styles' as *;

mat-card {
  @include flex-col();
  background-color: var(--armonik-container-background-light);
}

article {
  @include flex-row($gap: 0.25rem, $justify: start, $wrap: nowrap);
  padding: 0.5rem;
}

section {
  @include flex-row(1rem);
  width: 100%;
}