<clr-combobox-container>
  <label>
    Select one or more value.
    <a role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content"> You can select more than one value. </span>
    </a>
  </label>
  <clr-combobox
    [ngModel]="selectedValues"
    (clrSelectionChange)="onSelectionChange()"
    clrMulti="true"
  >
    <ng-container *clrOptionSelected="let selected">
      {{ selectionList[selected] }}
    </ng-container>
    <clr-options>
      <clr-option
        *clrOptionItems="let item of selectionList"
        clrOptionItemsField="label"
        [clrValue]="item.value"
      >
        {{ item.label }}
      </clr-option>
    </clr-options>
  </clr-combobox>
</clr-combobox-container>

<button *ngIf="isActive()" class="btn btn-sm" (click)="clear()">
  Clear the filter
</button>
