<clr-combobox-container>
  <label>
    {{ 'pages.components.filters.select_many_title' | translate }}
    <a role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content">
        {{ 'pages.components.filters.warning.combobox' | translate }}
      </span>
    </a>
  </label>
  <clr-combobox
    [ngModel]="selectedValues"
    (clrSelectionChange)="onSelectionChange()"
    clrMulti="true"
  >
    <ng-container *clrOptionSelected="let selected">
      {{
        'pages.components.filters.select_list.' + selectionList[selected]
          | translate
      }}
    </ng-container>
    <clr-options>
      <clr-option
        *clrOptionItems="let item of selectionList"
        clrOptionItemsField="label"
        [clrValue]="item.value"
      >
        {{ 'pages.components.filters.select_list.' + item.label | translate }}
      </clr-option>
    </clr-options>
  </clr-combobox>
</clr-combobox-container>

<button *ngIf="isActive()" class="btn btn-sm" (click)="clear()">
  {{ 'pages.components.filters.clear_filter' | translate }}
</button>
