<clr-date-container>
  <label>{{ 'pages.sessions-list.filters.date.before' | translate }}</label>
  <input
    type="date"
    clrDate
    name="beforeDate"
    [(clrDate)]="beforeValue"
    (clrDateChange)="sendBeforeValue()"
  />
</clr-date-container>
<clr-date-container>
  <label>{{ 'pages.sessions-list.filters.date.after' | translate }}</label>
  <input
    type="date"
    clrDate
    name="afterDate"
    [(clrDate)]="afterValue"
    (clrDateChange)="sendAfterValue()"
  />
</clr-date-container>
