<clr-date-container>
  <label>{{ 'pages.sessions-list.filters.date.before' | translate }}</label>
  <input
    type="date"
    clrDate
    name="beforeDate"
    [(clrDate)]="beforeDate"
    (clrDateChange)="sendBeforeDate()"
  />
</clr-date-container>
<clr-date-container>
  <label>{{ 'pages.sessions-list.filters.date.after' | translate }}</label>
  <input
    type="date"
    clrDate
    name="afterDate"
    [(clrDate)]="afterDate"
    (clrDateChange)="sendAfterDate()"
  />
</clr-date-container>
