.datagrid-action-bar {
  margin-top: 0;
}

.auto-refresh > button > span {
  text-transform: capitalize;
}

armonik-admin-gui-auto-refresh-dropdown {
  margin-right: 0.6rem;
}

clr-dg-cell {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a:hover span {
    text-decoration: inherit;
  }
}

$textTypes: (
  'success',
  'warn',
  'danger',
  'creating',
  'submitted',
  'dispatched',
  'cancelled'
);

@each $type in $textTypes {
  .text-#{$type} {
    color: var(--#{$type}-500);
  }
}
