.datagrid-action-bar {
  margin-top: 0;
}

.auto-refresh > button > span {
  text-transform: capitalize;
}

clr-dg-cell {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a:has(span) {
    text-decoration: none;

    &:hover span {
      text-decoration: underline;
    }
  }

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

$textTypes: (
  'success',
  'warn',
  'danger',
  'creating',
  'submitted',
  'dispatched',
  'cancelled'
);

@each $type in $textTypes {
  .#{$type} {
    color: var(--#{$type}-500);
    text-decoration-color: var(--#{$type}-500);
  }
}
