<clr-date-container>
  <label>{{ 'pages.sessions-list.filters.date.before' | translate }}</label>
  <input
    type="date"
    clrDate
    name="beforeDate"
    [(clrDate)]="beforeDate"
    (clrDateChange)="onDateChange()"
  />
</clr-date-container>
<clr-date-container>
  <label>{{ 'pages.sessions-list.filters.date.after' | translate }}</label>
  <input
    type="date"
    clrDate
    name="afterDate"
    [(clrDate)]="afterDate"
    (clrDateChange)="onDateChange()"
  />
</clr-date-container>
<button class="btn btn-sm" *ngIf="isActive()" (click)="clear()">
  Clear Filter
</button>
