.lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;
}

.status-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  outline: 2px solid;
}

.status-dot:is(.unspecified) {
  background-color: hsl(0, 0%, 80%);
  outline-color: hsl(0, 0%, 80%, 0.7);
}

.status-dot:is(.creating, .submitted, .dispatched) {
  background-color: hsl(32, 95%, 44%);
  outline-color: hsl(32, 95%, 44%, 0.7);
}

.status-dot:is(.processing, .processed) {
  background-color: hsl(41, 96%, 40%);
  outline-color: hsl(41, 96%, 40%, 0.7);
}

.status-dot:is(.completed) {
  background-color: hsl(142, 76%, 36%);
  outline-color: hsl(142, 76%, 36%, 0.7);
}

.status-dot:is(.cancelling, .cancelled) {
  background-color: hsl(21, 90%, 48%);
  outline-color: hsl(21, 90%, 48%, 0.7);
}

.status-dot:is(.timeout, .error) {
  background-color: hsl(0, 72%, 51%);
  outline-color: hsl(0, 72%, 51%, 0.7);
}


.status {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.status .data {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.5rem;
}

.status-value {
  flex-grow: 1;

  text-align: end;
  font-size: 1em;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}
