@let env = environment();
@if (env) {
  <section class="environment" [style]="'color:' + env.color + ';'" [matTooltip]="env.description">
    {{ env.name }} {{ env.version }}
  </section>
}
<button mat-icon-button #menuTrigger [matMenuTriggerFor]="menu">
  <mat-icon aria-hidden="true" [fontIcon]="getIcon('arrow-down')" [@rotateFull]="openedMenu" />
</button>
<mat-menu #menu xPosition="before">
  @if (defaultEnvironment) {
    <article class="env-item">
      <section>
        <button mat-icon-button (click)="selectEnvironment(-1)" [disabled]="environmentService.currentIndex === -1">
          @if (environmentService.currentIndex === -1) {
            <mat-icon [fontIcon]="getIcon('checked')" />
          } @else {
            <mat-icon [fontIcon]="getIcon('unchecked')" />
          }
        </button>
        <div class="environment" [style]="'color:' + defaultEnvironment.color + ';'">
          {{ defaultEnvironment.name }} {{ defaultEnvironment.version }}
        </div>
      </section>
      <mat-icon color="info" [fontIcon]="getIcon('info')" i18n-matTooltip matTooltip="This is the default environment and cannot be removed." />
    </article>
  }
  @for (host of environmmentList; track $index) {
    <article class="env-item">
      <section>
        <button mat-icon-button i18n-matTooltip matTooltip="Select environment" [disabled]="!host || environmentService.currentIndex === $index" (click)="selectEnvironment($index)">
          @if (environmentService.currentIndex === $index) {
            <mat-icon [fontIcon]="getIcon('checked')" />
          } @else {
            <mat-icon [fontIcon]="getIcon('unchecked')" />
          }
        </button>
        @if (host) {
          <div class="environment" [style]="'color:' + host.color + ';'" >
            {{ host.name }} {{ host.version }}
          </div>
        } @else {
          <p mat-menu-item disabled i18n>Could not find the environment.</p>
        }
      </section>
      <button mat-icon-button (click)="deleteEnv($index)" color="warn">
        <mat-icon [fontIcon]="getIcon('delete')" />
      </button>
    </article>
  }
  <mat-divider />
  <button mat-menu-item (click)="openNewEnvDialog()">
    <mat-icon [fontIcon]="getIcon('add')" />
    <span i18n>Add an environment</span>
  </button>
</mat-menu>