[actions] .btn {
  min-width: 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

  & figure {
    margin: 0;

    & img {
      height: 1rem;
      width: auto;
    }
  }
}

app-pages-the-languages-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-bottom: 0.9rem;

  & .version {
    margin-top: 1rem;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.content-area {
  position: relative;
}

app-pages-the-favorites-modal {
  position: absolute;
  top: 1rem;
  right: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
