<clr-main-container>
  <clr-header>
    <div class="header-nav">
      <div class="branding">
        <a routerLink="/">
          <span class="title">
            <figure>
              <img
                src="assets/images/armonik-logo.png"
                alt="ArmoniK logo"
                i18n-alt
              />
            </figure>
            &nbsp; - &nbsp;
            <app-pages-the-header-time></app-pages-the-header-time>
          </span>
        </a>
      </div>
    </div>
    <div class="header-actions"></div>
  </clr-header>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="1">
      <a clrVerticalNavLink [routerLink]="['/', 'users', 'me']">
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
        <ng-container *ngIf="loadingCurrentUser$ | async; else showUser">
          <span i18n> Connexion en cours... </span>
        </ng-container>
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink [routerLink]="['/', 'dashboard']">
        <cds-icon shape="home" clrVerticalNavIcon></cds-icon>
        <span i18n> Dashboard </span>
      </a>
      <div class="nav-divider"></div>
      <a
        *ngFor="let link of dataLinks; trackBy: trackByLabel"
        clrVerticalNavLink
        [routerLink]="link.path"
        [queryParams]="link.queryParams"
        routerLinkActive="active"
      >
        <cds-icon [attr.shape]="link.shape" clrVerticalNavIcon></cds-icon>
        {{ link.label }}</a
      >
      <div class="nav-divider"></div>
      <a
        *ngFor="let link of computedLinks; trackBy: trackByLabel"
        clrVerticalNavLink
        [routerLink]="link.path"
        [queryParams]="link.queryParams"
        routerLinkActive="active"
      >
        <cds-icon [attr.shape]="link.shape" clrVerticalNavIcon></cds-icon>
        {{ link.label }}</a
      >
      <ng-container
        *ngIf="{
          seq: settingsService.seqSubject$ | async,
          grafana: settingsService.grafanaSubject$ | async
        } as isUp"
      >
        <div class="nav-divider" *ngIf="isUp.seq || isUp.grafana"></div>
        <a clrVerticalNavLink href="/seq/" target="_blank" *ngIf="isUp.seq">
          <cds-icon shape="crosshairs" clrVerticalNavIcon></cds-icon>
          <span i18n> Seq </span>
        </a>
        <a
          clrVerticalNavLink
          href="/grafana/"
          target="_blank"
          *ngIf="isUp.grafana"
        >
          <cds-icon shape="line-chart" clrVerticalNavIcon></cds-icon>
          <span i18n> Grafana </span>
        </a>
      </ng-container>
      <div class="nav-divider"></div>
      <app-pages-the-favorites-navigation></app-pages-the-favorites-navigation>
      <app-pages-the-history-navigation></app-pages-the-history-navigation>
      <div class="bottom">
        <a
          clrVerticalNavLink
          href="https://aneoconsulting.github.io/ArmoniK.Admin.GUI/"
          rel="noopener"
          target="_blank"
        >
          <cds-icon shape="help" clrVerticalNavIcon></cds-icon>
          <span i18n> Documentation </span>
        </a>
        <a
          clrVerticalNavLink
          href="https://github.com/aneoconsulting/ArmoniK.Admin.GUI/releases"
          rel="noopener"
          target="_blank"
        >
          <cds-icon shape="new" clrVerticalNavIcon></cds-icon>
          <span i18n> Changelog </span>
        </a>
        <div class="version">
          <span i18n> Admin GUI </span>
          -
          <a [href]="'https://github.com/aneoconsulting/ArmoniK.Admin.GUI/releases/tag/v' + version" rel="noopener" target="_blank"> v{{ version }} </a>
        </div>
      </div>
    </clr-vertical-nav>

    <div class="content-area">
      <app-pages-the-favorites-modal> </app-pages-the-favorites-modal>
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>

<ng-template #showUser>
  <ng-container *ngIf="currentUser as user; else noUser">
    {{ user.username }}
  </ng-container>
</ng-template>

<ng-template #noUser>
  <span i18n> Connexion failed </span>
</ng-template>
