<app-page-header>
  <mat-icon matListItemIcon aria-hidden="true" [fontIcon]="getIcon()"></mat-icon>
  <span i18n="Page title" i18n>HealthChecks</span>
</app-page-header>

<mat-toolbar>
  <mat-toolbar-row>
    <app-actions-toolbar-group>
      <app-auto-refresh-button [intervalValue]="intervalValue" (intervalValueChange)="onIntervalValueChange($event)" />
      <app-refresh-button tooltip="Refresh data" (refreshChange)="onRefresh()" />
      @if (loading) {
        <app-spinner />
      }
    </app-actions-toolbar-group>
  </mat-toolbar-row>
</mat-toolbar>

@if (!loading) {
  @if (data) {
    @for (service of data; track service.name) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ service.name }}
            <span [style]="{'color': getColor(service.healthy)}" [matTooltip]="getToolTip(service.healthy)">&#10687;</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Message: {{ service.message ? service.message : '-' }}</p>
        </mat-card-content>
      </mat-card>
    }
  } @else {
    <h2 i18n>No data to show</h2>
  }
}