<section>
  <h1>{{ 'pages.tasks-list.title' | translate }}</h1>

  <clr-datagrid
    [(clrDgSelected)]="selected"
    (clrDgRefresh)="refreshTasks($event)"
    [clrDgLoading]="(loadingTasks$ | async) ?? false"
  >
    <clr-dg-action-bar>
      <button
        [clrLoading]="loadingCancelTasks$ | async"
        type="button"
        class="btn btn-sm btn-outline-danger"
        (click)="cancelSelection()"
      >
        {{ 'pages.tasks-list.actions.cancel_selection' | translate }}
      </button>

      <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="manualRefreshTasks()"
      >
        {{ 'pages.tasks-list.actions.refresh' | translate }}
      </button>

      <clr-dropdown class="auto-refresh">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          clrDropdownTrigger
        >
          {{ 'pages.tasks-list.actions.auto_refresh.button.title' | translate }}
          <span *ngIf="subjectInterval | async as value">
            &nbsp;-&nbsp;
            {{
              value > 0
                ? value / 1_000 + 's'
                : ('pages.tasks-list.actions.auto_refresh.button.disabled'
                  | translate)
            }}
          </span>

          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" clrDropdownItem (click)="stopInterval()">
            {{ 'pages.tasks-list.actions.auto_refresh.disable' | translate }}
          </button>
          <button
            type="button"
            clrDropdownItem
            *ngFor="let item of intervals; trackBy: trackByInterval"
            (click)="changeInterval(item)"
          >
            {{ item / 1_000 }}s
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>

      <button
        *ngIf="isFiltered()"
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="clearAllFilters()"
      >
        {{ 'global.filters.clear-all-filters' | translate }}
      </button>
    </clr-dg-action-bar>

    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_TASK_ID.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_TASK_ID)"
    >
      {{ 'pages.tasks-list.columns.task_id' | translate }}
      <!-- <clr-dg-filter [clrDgFilter]="idFilter">
        <app-id-filter
          [name]="'id'"
          [inputValue]="(queryStringParam$('id') | async) || ''"
          #idFilter
        >
        </app-id-filter>
      </clr-dg-filter> -->
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_SESSION_ID.toString()"
      [clrDgSortOrder]="
        defaultSortOrder(OrderByField.ORDER_BY_FIELD_SESSION_ID)
      "
    >
      {{ 'pages.tasks-list.columns.session_id' | translate }}
      <!-- <clr-dg-filter [clrDgFilter]="sessionFilter">
        <app-id-filter
          [name]="'sessionId'"
          [inputValue]="(queryStringParam$('sessionId') | async) || ''"
          #sessionFilter
        >
        </app-id-filter>
      </clr-dg-filter> -->
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_STATUS.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_STATUS)"
    >
      {{ 'pages.tasks-list.columns.status' | translate }}
      <clr-dg-filter [clrDgFilter]="statusFilter">
        <app-task-status-filter
          [name]="'status'"
          [selectedValue]="(queryParam$('status') | async) || 0"
          #statusFilter
        >
        </app-task-status-filter>
      </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_CREATED_AT.toString()"
      [clrDgSortOrder]="
        defaultSortOrder(OrderByField.ORDER_BY_FIELD_CREATED_AT)
      "
    >
      {{ 'pages.tasks-list.columns.created_at' | translate }}
      <!-- <clr-dg-filter [clrDgFilter]="createdDateFilter">
        <app-date-filter
          [name]="'createdAt'"
          [beforeDate]="(queryDateParam$('createdAtBefore') | async) || null"
          [afterDate]="(queryDateParam$('createdAtAfter') | async) || null"
          #createdDateFilter
        >
        </app-date-filter>
      </clr-dg-filter> -->
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_STARTED_AT.toString()"
      [clrDgSortOrder]="
        defaultSortOrder(OrderByField.ORDER_BY_FIELD_STARTED_AT)
      "
    >
      {{ 'pages.tasks-list.columns.started_at' | translate }}
      <!-- <clr-dg-filter [clrDgFilter]="startedDateFilter">
        <app-date-filter
          [name]="'startedAt'"
          [beforeDate]="(queryDateParam$('startedAtBefore') | async) || null"
          [afterDate]="(queryDateParam$('startedAtAfter') | async) || null"
          #startedDateFilter
        >
        </app-date-filter>
      </clr-dg-filter> -->
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_ENDED_AT.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_ENDED_AT)"
    >
      {{ 'pages.tasks-list.columns.ended_at' | translate }}
      <!-- <clr-dg-filter [clrDgFilter]="endedDateFilter">
        <app-date-filter
          [name]="'endedAt'"
          [beforeDate]="(queryDateParam$('endedAtBefore') | async) || null"
          [afterDate]="(queryDateParam$('endedAtAfter') | async) || null"
          #endedDateFilter
        >
        </app-date-filter>
      </clr-dg-filter> -->
    </clr-dg-column>
    <clr-dg-column>
      {{ 'pages.tasks-list.columns.actions' | translate }}
    </clr-dg-column>

    <ng-container *ngIf="loadTasks$ | async as list">
      <clr-dg-row
        *ngFor="let task of list.tasks; trackBy: trackByTask"
        [clrDgItem]="task"
        [clrDgSelectable]="!isCompleted(task)"
      >
        <clr-dg-cell>
          {{ task.id }}
        </clr-dg-cell>
        <clr-dg-cell>
          <a
            [routerLink]="['/', 'tasks']"
            [queryParams]="{ sessionId: task.sessionId }"
          >
            {{ task.sessionId }}
          </a>
        </clr-dg-cell>
        <clr-dg-cell class="status">
          <a
            [routerLink]="['/', 'tasks']"
            [queryParams]="{ status: task.status }"
          >
            <span
              [ngClass]="{
                'text-success':
                  task.status === TaskStatusEnum.TASK_STATUS_COMPLETED,
                'text-warn': [
                  TaskStatusEnum.TASK_STATUS_PROCESSING,
                  TaskStatusEnum.TASK_STATUS_PROCESSED
                ].includes(task.status ?? 0),
                'text-danger': [
                  TaskStatusEnum.TASK_STATUS_ERROR,
                  TaskStatusEnum.TASK_STATUS_TIMEOUT
                ].includes(task.status ?? 0),
                'text-creating':
                  task.status === TaskStatusEnum.TASK_STATUS_CREATING,
                'text-submitted':
                  task.status === TaskStatusEnum.TASK_STATUS_SUBMITTED,
                'text-dispatched':
                  task.status === TaskStatusEnum.TASK_STATUS_DISPATCHED,
                'text-cancelled': [
                  TaskStatusEnum.TASK_STATUS_CANCELLING,
                  TaskStatusEnum.TASK_STATUS_CANCELLED
                ].includes(task.status ?? 0)
              }"
            >
              {{ 'pages.tasks-list.cells.status.' + task.status | translate }}
              ({{ task.status }})
            </span>
          </a>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="task.createdAt; else empty">
            {{
              task.createdAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="task.startedAt; else empty">
            {{
              task.startedAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="task.endedAt; else empty">
            {{
              task.endedAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <button
            type="button"
            [clrLoading]="(loadingSingleTask$ | async) === task.id"
            class="btn btn-sm btn-secondary"
            (click)="viewTaskDetail(task.id!)"
          >
            <clr-icon shape="eye"></clr-icon>
            {{ 'pages.tasks-list.actions.details' | translate }}
          </button>
          <a
            class="btn btn-sm btn-secondary"
            [routerLink]="['/', 'results']"
            [queryParams]="{ ownerTaskId: task.sessionId }"
          >
            <clr-icon shape="certificate"></clr-icon>
            {{ 'pages.tasks-list.actions.related_results' | translate }}
          </a>
          <a
            class="btn btn-sm btn-secondary"
            [routerLink]="['/', 'sessions']"
            [queryParams]="{ sessionId: task.sessionId }"
          >
            <clr-icon shape="nodes"></clr-icon>
            {{ 'pages.tasks-list.actions.parent_session' | translate }}
          </a>
          <a
            *ngIf="isSeqUp$ | async"
            class="btn btn-sm btn-secondary"
            target="_blank"
            [title]="'pages.tasks-list.actions.view_seq' | translate"
            [href]="generateSeqUrl(task.id!)"
          >
            <clr-icon shape="crosshairs"></clr-icon>
            SEQ
          </a>
        </clr-dg-cell>
        <ng-template #empty> - </ng-template>
      </clr-dg-row>
    </ng-container>
    <clr-dg-footer>
      <clr-dg-pagination
        #pagination
        [clrDgPageSize]="(queryParam$('pageSize') | async) || 10"
        [clrDgTotalItems]="(totalTasks$ | async) ?? 0"
        [clrDgPage]="((queryParam$('page') | async) || 0) + 1"
      >
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">{{
          'pages.tasks-list.pagination.per_page' | translate
        }}</clr-dg-page-size>
        <span *ngIf="(totalTasks$ | async) ?? 0 > 1 as total">
          {{
            (total > 1
              ? 'pages.tasks-list.pagination.tasks'
              : 'pages.tasks-list.pagination.task'
            ) | translate: { value: total }
          }}
        </span>
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</section>

<clr-modal
  [clrModalOpen]="(isGetTaskModalOpened$ | async) || false"
  [clrModalClosable]="false"
  [clrModalSize]="'lg'"
  *ngIf="loadSingleTask$ | async as task"
>
  <h3 class="modal-title">
    {{ 'pages.tasks-list.modal.title' | translate }} {{ task.task!.id }}
  </h3>
  <div class="modal-body">
    <pre>{{ task.task! | json }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeGetTaskModal()">
      {{ 'pages.tasks-list.modal.close' | translate }}
    </button>
  </div>
</clr-modal>
