<section>
  <h1>{{ 'tasks.title' | translate }}</h1>

  <clr-datagrid
    [(clrDgSelected)]="selected"
    (clrDgRefresh)="refreshTasks($event)"
    [clrDgLoading]="(loadingTasks$ | async) ?? false"
  >
    <clr-dg-action-bar>
      <button
        [clrLoading]="loadingCancelTasks$ | async"
        type="button"
        class="btn btn-sm btn-outline-danger"
        (click)="cancelSelection()"
      >
        {{ 'tasks.actions.cancel_selection' | translate }}
      </button>

      <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="manualRefreshTasks()"
      >
        {{ 'tasks.actions.refresh' | translate }}
      </button>

      <clr-dropdown class="auto-refresh">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          clrDropdownTrigger
        >
          {{ 'tasks.actions.auto_refresh.button.title' | translate }}
          <span *ngIf="subjectInterval | async as value">
            &nbsp;-&nbsp;
            {{
              value > 0
                ? value / 1_000 + 's'
                : ('tasks.actions.auto_refresh.button.disabled' | translate)
            }}
          </span>

          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" clrDropdownItem (click)="stopInterval()">
            {{ 'tasks.actions.auto_refresh.disable' | translate }}
          </button>
          <button
            type="button"
            clrDropdownItem
            *ngFor="let item of intervals; trackBy: trackByInterval"
            (click)="changeInterval(item)"
          >
            {{ item / 1_000 }}s
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </clr-dg-action-bar>

    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_TASK_ID.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_TASK_ID)"
    >
      {{ 'tasks.columns.task_id' | translate }}
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_SESSION_ID.toString()"
      [clrDgSortOrder]="
        defaultSortOrder(OrderByField.ORDER_BY_FIELD_SESSION_ID)
      "
    >
      {{ 'tasks.columns.session_id' | translate }}
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_STATUS.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_STATUS)"
    >
      {{ 'tasks.columns.status' | translate }}
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_CREATED_AT.toString()"
      [clrDgSortOrder]="
        defaultSortOrder(OrderByField.ORDER_BY_FIELD_CREATED_AT)
      "
    >
      {{ 'tasks.columns.created_at' | translate }}
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_STARTED_AT.toString()"
      [clrDgSortOrder]="
        defaultSortOrder(OrderByField.ORDER_BY_FIELD_STARTED_AT)
      "
    >
      {{ 'tasks.columns.started_at' | translate }}
    </clr-dg-column>
    <clr-dg-column
      [clrDgField]="OrderByField.ORDER_BY_FIELD_ENDED_AT.toString()"
      [clrDgSortOrder]="defaultSortOrder(OrderByField.ORDER_BY_FIELD_ENDED_AT)"
    >
      {{ 'tasks.columns.ended_at' | translate }}
    </clr-dg-column>
    <clr-dg-column>
      {{ 'tasks.columns.actions' | translate }}
    </clr-dg-column>

    <ng-container *ngIf="loadTasks$ | async as list">
      <clr-dg-row
        *ngFor="let task of list.tasks; trackBy: trackByTask"
        [clrDgItem]="task"
        [clrDgSelectable]="!isCompleted(task)"
      >
        <clr-dg-cell>
          {{ task.id }}
        </clr-dg-cell>
        <clr-dg-cell>
          <a
            [routerLink]="['/', 'tasks']"
            [queryParams]="{ sessionId: task.sessionId }"
          >
            {{ task.sessionId }}
          </a>
        </clr-dg-cell>
        <clr-dg-cell class="status">
          <a
            [routerLink]="['/', 'tasks']"
            [queryParams]="{ status: task.status }"
          >
            <span
              [ngClass]="{
                'text-success': task.status === 4,
                'text-warn': [9, 10].includes(task.status ?? 0),
                'text-danger': [5, 6].includes(task.status ?? 0),
                'text-creating': task.status === 1,
                'text-submitted': task.status === 2,
                'text-dispatched': task.status === 3,
                'text-cancelled': [7, 8].includes(task.status ?? 0)
              }"
            >
              {{ 'tasks.cells.status.' + task.status | translate }} ({{
                task.status
              }})
            </span>
          </a>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="task.createdAt; else empty">
            {{
              task.createdAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="task.startedAt; else empty">
            {{
              task.startedAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="task.endedAt; else empty">
            {{
              task.endedAt.toISOString()
                | date: 'yyyy-MM-dd &nbsp; HH:mm:ss.SSS'
            }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>
          <button
            type="button"
            [clrLoading]="(loadingSingleTask$ | async) === task.id"
            class="btn btn-sm btn-secondary"
            (click)="viewTaskDetail(task.id!)"
          >
            <clr-icon shape="eye"></clr-icon>
            {{ 'tasks.actions.details' | translate }}
          </button>
          <a
            class="btn btn-sm btn-secondary"
            [routerLink]="['/', 'results']"
            [queryParams]="{ ownerTaskId: task.sessionId }"
          >
            <clr-icon shape="certificate"></clr-icon>
            {{ 'tasks.actions.related_results' | translate }}
          </a>
          <a
            class="btn btn-sm btn-secondary"
            [routerLink]="['/', 'sessions']"
            [queryParams]="{ sessionId: task.sessionId }"
          >
            <clr-icon shape="nodes"></clr-icon>
            {{ 'tasks.actions.parent_session' | translate }}
          </a>
          <a
            *ngIf="isSeqUp"
            class="btn btn-sm btn-secondary"
            target="_blank"
            [title]="'tasks.actions.view_seq' | translate"
            [href]="generateSeqUrl(task.id!)"
          >
            <clr-icon shape="crosshairs"></clr-icon>
            SEQ
          </a>
        </clr-dg-cell>
        <ng-template #empty> - </ng-template>
      </clr-dg-row>
    </ng-container>
    <clr-dg-footer>
      <clr-dg-pagination
        #pagination
        [clrDgPageSize]="(queryParam$('pageSize') | async) || 10"
        [clrDgTotalItems]="(totalTasks$ | async) ?? 0"
        [clrDgPage]="((queryParam$('page') | async) || 0) + 1"
      >
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">{{
          'tasks.pagination.per_page' | translate
        }}</clr-dg-page-size>
        <span *ngIf="(totalTasks$ | async) ?? 0 > 1 as total">
          {{
            (total > 1 ? 'tasks.pagination.tasks' : 'tasks.pagination.task')
              | translate: { value: total }
          }}
        </span>
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</section>

<clr-modal
  [(clrModalOpen)]="opened"
  [clrModalSize]="'lg'"
  *ngIf="loadSingleTask$ | async as task"
>
  <h3 class="modal-title">
    {{ 'tasks.modal.title' | translate }} {{ task.task!.id }}
  </h3>
  <div class="modal-body">
    <pre>{{ task.task! | json }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="opened = false">
      {{ 'tasks.modal.close' | translate }}
    </button>
  </div>
</clr-modal>
