.datagrid-action-bar {
  margin-top: 0;
}

.auto-refresh>button>span {
  text-transform: capitalize;
}

clr-dg-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

$textTypes: (
  'success',
  'warn',
  'danger',
  'creating',
  'submitted',
  'dispatched'
);

@each $type in $textTypes {
  .text-#{$type} {
    color: var(--#{$type}-500);
  }
}
