<clr-input-container>
  <label for="minValueInput">
    <span i18n>Min value</span>
    <div role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content" i18n>
        Will display data with a value stricly equal as indicated.
      </span>
    </div>
  </label>
  <input
    #minValueInput
    clrInput
    [(ngModel)]="selectedValue"
    (input)="onChange()"
    type="number"
  />
</clr-input-container>

<button *ngIf="isActive()" class="btn btn-sm" (click)="clear()" i18n>
  Clear the filter
</button>
