:host {
  width: 30vw !important;
  display: block;
}

section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

section > p {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

form > article {
  display: flex;
  gap: 1rem;
}

.radio-choice {
  margin: 1rem;
}

input[type=color] {
  padding: 0px;
  min-height: 1rem;
  min-width: 3rem;
  border: 0px;

  &:disabled {
    opacity: 0.5;
  }
}