<h2 mat-dialog-title i18n="Dialog title">Set up Auto Refresh</h2>

<mat-dialog-content>
  <p i18n="Dialog description">
    Enter the number of seconds between each refresh.
    Use 0 or choose "Disabled" to disable.
  </p>
  <app-autocomplete [options]="options" [value]="value" (valueChange)="onNumberChange($event)" />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" i18n="Dialog action"> Cancel </button>
  <button mat-flat-button [mat-dialog-close]="value" color="primary" i18n="Dialog action"> Confirm </button>
</mat-dialog-actions>
