<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Session: {{ sessionId }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <section>
      <a mat-flat-button color="primary" routerLink="/">
        <mat-icon>{{getIcon('back')}}</mat-icon>
        <span i18n>Back to Sessions List</span> 
      </a>
      <button mat-flat-button color="primary" (click)="refresh()">
        <mat-icon>{{getIcon('refresh')}}</mat-icon>
        <span i18n>Refresh</span>
      </button>
    </section>
    <section>
      <mat-form-field>
              <label for="id-input" i18n>Highlight a task</label>
      <input type="text" (change)="highlightNodes($event)" />
      </mat-form-field>
      <mat-checkbox (change)="setParticles($event.checked)" i18n>
        Display Particles
      </mat-checkbox>
    </section>
  </mat-card-actions>
</mat-card>
<div #graph (window:resize)="onResize($event)"></div>