#graph-session-header {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 3rem;
  width: fit-content;
}

#graph-session-header > mat-card-content {
  min-width: 60vw;
  padding: 0.5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  width: fit-content !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h2 {
  padding: 0px;
  margin: 0px;
}

mat-card-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

mat-card-actions > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

app-graph-legend {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left:0;
}

.graph {
  overflow: hidden;
  height: 90vh;
}