<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Session: {{ sessionId }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <section>
      <a mat-flat-button color="primary" routerLink="/sessions">
        <mat-icon>{{ getIcon('back') }}</mat-icon>
        Back to Sessions List 
      </a>
      <button mat-flat-button color="primary" (click)="redraw()">
        <mat-icon>{{getIcon('refresh')}}</mat-icon>
        <span i18n>Redraw</span>
      </button>
    </section>
    <section>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label for="id-input" i18n>Highlight a task</mat-label>
        <input matInput type="text" (change)="highlightNodes($event)" />
      </mat-form-field>
      <mat-checkbox (change)="setParticles($event.checked)" i18n>
        Display Particles
      </mat-checkbox>
    </section>
  </mat-card-actions>
</mat-card>
<app-graph-legend />
<div class="graph" #graph (window:resize)="onResize($event)"></div>