.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-data {
  text-align: center;
  margin: 1rem;
  font-style: italic;
}

button {
  width: fit-content; 
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

mat-divider {
  margin-right: 0.5rem;
}

mat-toolbar {
  padding: 1rem;
}

mat-card {
  max-height: 25vh;
  overflow-y: auto;
}