<mat-toolbar class="header">
  <ng-content select="[title]"/>
  <ng-content select="[button]"/>
</mat-toolbar>
<mat-card>
  @if (list.length === 0) {
    <span class="no-data">No data</span>
  } @else {
    <ul>
      @for(item of list; track item) {
        <li>
          <section>
            <span>{{item}}</span>
            @if (redirectLink) {
              <a mat-icon-button [routerLink]="'/' + redirectLink + '/' + item">
                <mat-icon [fontIcon]="eyeIcon" />
              </a>
            }
          </section>
        </li>
      }
    </ul>
  }
</mat-card>
