<h2 mat-dialog-title i18n="Dialog title" i18n>Custom Columns</h2>

  <mat-dialog-content>
    <p i18n="Dialog description">
      Enter the custom field field you want to add as a column.
      <br>
      The field is case sensitive and will not show any data if it is incorrect.
    </p>

  <mat-form-field>
    <mat-label i18n>Existing Customs columns</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter custom column">
      <mat-chip-row 
        *ngFor="let column of displayedColumnsList"
        (removed)="remove(column)"
        [editable]="true"
        (edited)="edit(column, $event)"
        class="mat-primary mat-mdc-chip-selected"
        i18n-aria-description
        aria-description="press enter to edit">
        {{column}}
        <button matChipRemove [attr.aria-label]="'remove ' + column">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input i18n-placeholder placeholder="New custom column..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>
</mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" i18n="Dialog action">Cancel</button>
    <button mat-flat-button [mat-dialog-close]="existingColumnList" color="primary" i18n="Dialog action"> Confirm </button>
  </mat-dialog-actions>