<app-inspection-header [id]="id" [status]="status" [sharableURL]="sharableURL">
  <ng-content title select="[title]" />
</app-inspection-header>

<app-inspection-toolbar (refresh)="onRefresh()">
  <ng-content select="[actions]" actions />
  <ng-content select="[bonus-actions]" bonus-actions />
</app-inspection-toolbar>

<section id="content">
  @if (data) {
    <app-inspection-card [data]="data" [statuses]="statuses" [fields]="fields" />
    <app-inspection-list-grid [arrays]="arrays" [data]="data" />
    <app-inspection-card [data]="data" [optionsFields]="optionsFields"/>
    <app-json-inspection [data]="data" />
  }  
</section>