@for (element of actions; track element.id) {
  @if (element.link && !element.action$) {
    <a mat-button [routerLink]="element.link" [queryParams]="element.queryParams" [color]="element.color">
      <mat-icon [fontIcon]="element.icon ?? ''" />
      {{element.name}}
    </a>
  } @else if (element.action$ && !element.link) {
    <button mat-flat-button (click)="element.action$.next()" [disabled]="isDisabled[element.id]" [color]="element.color" >
      <mat-icon [fontIcon]="element.icon ?? ''" />
      {{element.name}}
    </button>
  }
}
