@if (!isArray(data) && keys.length > 0) {
  @for(key of keys; track key) {  
    @if (!isArray(findValue(key)) && !isObject(findValue(key))) {
      <p>
        <!-- Key -->
        <span class="key">{{ pretty(key) }}</span>
        <span>: </span>
  
        <!-- String -->
        @if (isString(findValue(key))) {
          <span>{{ findValue(key) }}</span>
        }
  
        <!-- Number -->
        @else if (isNumber(findValue(key)) && !isStatus(key)) {
          <span>{{ findValue(key) }}</span>
        }
        <!-- Status -->
        @else if (isStatus(key)) {
          <span>{{ statusToLabel(key) }}</span>
        }
        <!-- Timestamp -->
        @else if (isTimestamp(findValue(key))) {
          <span>{{ toTimestamp(key) }}</span>
        }
        <!-- Duration -->
        @else if (isDuration(findValue(key))) {
          <span >{{ toTime(key) }}</span>
        }
        <!-- Is null or undefined -->
        @else {
          <span>-</span>
        }
      </p>
    } @else if (isArray(findValue(key))) {
      <!-- Array -->
      @for (item of findArray(key); track $index) {
        <li>{{ item }}</li>
      }
    } @else {
      <!-- Object -->
      <app-show-card-content [data]="findObject(key)" [statuses]="statuses"/>
    }
  }
} @else if (isArray(data) && hasLength(data)) {
  <ul class="array-list">
    @for (item of toArray(data); track $index) {
      <li>{{ item }}</li>
    }
  </ul>
} @else {
  <p>
    <em>No data</em>
  </p>
}