@use '@angular/material' as mat;

:host {
  @include mat.chips-overrides((
    outline-width: 0,
    container-shape-radius: 2rem,
  ));
}

p {
  margin: 0;
  font-weight: 500;
  color:dark;
}

mat-icon, p {
  color: white !important;
}