button {
  margin-left: 0.15rem !important;
}

app-actions-toolbar-group {
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.space-between {
  justify-content: space-between;
  width: 100%;
}

.revert-column {
  flex-direction: column-reverse;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}