<app-actions-toolbar>
  <section>
    <app-refresh-button [tooltip]="refreshTooltip" (refreshChange)="onRefresh()"/>
    <app-auto-refresh-button [intervalValue]="intervalValue" (intervalValueChange)="onIntervalValueChange($event)"/>
    @if (loading) {
      <app-spinner />
    }
  </section>
  
  <section [class]="isHandset ? 'revert-column' : ''">
    <ng-content select="[extra-buttons-right]"></ng-content>

    <section [class]="isHandset ? 'space-between' : ''">
      <app-columns-button
      [columnsLabels]="columnsLabels"
      [displayedColumns]="displayedColumns"
      [availableColumns]="availableColumns"
      (displayedColumnsChange)="onDisplayedColumnsChange($event)"
      [disabled]="lockColumns"
    >
    </app-columns-button>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Show more options" i18n-aria-label matTooltip="More Options" i18n-matTooltip>
      <mat-icon aria-hidden="true" [fontIcon]="getIcon('more')"></mat-icon>
    </button>
    </section>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLockColumnsChange()">
        <mat-icon aria-hidden="true" [fontIcon]="lockColumns ? getIcon('unlock') : getIcon('lock')"></mat-icon>
        @if (lockColumns) {
          <span i18n>Unlock columns</span>
        } @else {
          <span i18n>Lock columns</span>
        }
      </button>
      <button mat-menu-item (click)="onResetColumns()">
        <mat-icon aria-hidden="true" [fontIcon]="getIcon('format-clear')"></mat-icon>
        <span i18n>
          Reset Columns
        </span>
      </button>
      <button mat-menu-item (click)="onResetFilters()">
        <mat-icon aria-hidden="true" [fontIcon]="getIcon('layers-clear')"></mat-icon>
        <span i18n>
          Reset Filters
        </span>
      </button>
      <ng-content select="[extra-menu-items]"></ng-content>
    </mat-menu>
  </section>
</app-actions-toolbar>
  