<h2 mat-dialog-title i18n="Dialog title">Personalize tasks by status</h2>

<mat-dialog-content>
  <p i18n="Dialog description">Select the statuses you want to see</p>

  <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="statuses">
    @for (count of statusesCounts; track count) {
      <div cdkDrag class="status">
        <mat-icon cdkDragHandle aria-hidden="true" i18n-aria-label aria-label="Drag status" [fontIcon]="getIcon('drag')"/>
        <mat-form-field appearance="outline"  subscriptSizing="dynamic">
          <mat-label i18n="Label input">Status</mat-label>
          <mat-select (valueChange)="onStatusChange($index, $event)" [value]="count.status.toString()">
            @for (status of tasksStatuses(); track status) {
              <mat-option [value]="status" [disabled]="isUsedStatus(status)">
                {{ statusToLabel(status) }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label for="color" i18n="Color of the statuses group"> Color </mat-label>
          <input matInput id="color" type="color" formControlName="color" i18n-placeholder="Placeholder" placeholder="color of your group" [value]="count.color" (change)="onColorChange($index, $event)">
        </mat-form-field>
  
        <button mat-icon-button aria-label="More options" mat-tooltip="More options" [matMenuTriggerFor]="menu">
          <mat-icon aria-hidden="true" [fontIcon]="getIcon('more')"></mat-icon>
        </button>
  
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onClear(count)">
            <mat-icon aria-hidden="true" [fontIcon]="getIcon('clear')"></mat-icon>
            <span i18n>Clear</span>
          </button>
          <button mat-menu-item (click)="onRemove($index)" [disabled]="statusesCounts?.length === 1 && $first">
            <mat-icon aria-hidden="true" [fontIcon]="getIcon('delete')"></mat-icon>
            <span i18n>Remove</span>
          </button>
        </mat-menu>
      </div>
    }
  </div>

  <button class="add-status" mat-button (click)="onAdd()">
    <mat-icon aria-hidden="true" [fontIcon]="getIcon('add')"></mat-icon>
    <span i18n> Add a status </span>
  </button>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" i18n="Dialog action"> Cancel </button>
  <button mat-flat-button [mat-dialog-close]="statusesCounts" color="primary" i18n="Dialog action"> Confirm </button>
</mat-dialog-actions>