<mat-toolbar>
  <mat-toolbar-row>
    <app-table-dashboard-actions-toolbar
      [loading]="loading()"
      [refreshTooltip]="autoRefreshTooltip()"
      [intervalValue]="intervalValue"
      [columnsLabels]="columnsLabels"
      [displayedColumns]="displayedColumnsKeys"
      [availableColumns]="availableColumns"
      [lockColumns]="lockColumns"
      (refresh)="refresh()"
      (intervalValueChange)="onIntervalValueChange($event)"
      (displayedColumnsChange)="onColumnsChange($event)"
      (resetColumns)="onColumnsReset()"
      (resetFilters)="onFiltersReset()"
      (lockColumnsChange)="onLockColumnsChange()"
      (deleteLine)="onDeleteLine()"
      (editNameLine)="onEditNameLine()"
    >
    <ng-container extra-buttons-right>
      <button mat-flat-button color="accent" (click)="onCancelTasksSelection()" [disabled]="!selection.length">
        <mat-icon matListIcon aria-hidden="true" fontIcon="stop"></mat-icon>
        <span i18n> Cancel Tasks </span>
      </button>
    </ng-container>
    <ng-container extra-menu-items>
    <button mat-menu-item (click)="manageViewInLogs()">
      <mat-icon aria-hidden="true" [fontIcon]="getIcon('find-logs')"></mat-icon>
      <span i18n appNoWrap>
        Manage View in Logs
      </span>
    </button>
    <button mat-menu-item (click)="addCustomColumn()">
      <mat-icon aria-hidden="true" [fontIcon]="getIcon('manage-customs')"></mat-icon>
      <span i18n appNoWrap>
        Manage Custom Columns
      </span>
    </button>
  </ng-container>
    </app-table-dashboard-actions-toolbar>
  </mat-toolbar-row>
  <mat-toolbar-row class="filters">
    <app-filters-toolbar 
      [filters]="filters"
      [showFilters]="showFilters"
      (filtersChange)="onFiltersChange($event)" 
      (showFiltersChange)="onShowFiltersChange($event)"
    />
  </mat-toolbar-row>
</mat-toolbar>
<app-tasks-table
  [displayedColumns]="displayedColumns()"
  [lockColumns]="lockColumns"
  [serviceIcon]="serviceIcon"
  [serviceName]="serviceName"
  [urlTemplate]="urlTemplate"
  (selectionChange)="onSelectionChange($event)"
  (optionsUpdate)="onOptionsChange()"
/>