mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groups {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

section {
  display: flex;
  align-items: center;
  gap: 1rem;
}