<button (click)="openModal()" class="btn btn-primary btn-outline" type="button">
  Removed Items
</button>

<clr-modal [(clrModalOpen)]="open" [clrModalClosable]="false" class="modal removed-items">
  <h3 class="modal-title">Removed Items</h3>
  <div class="modal-body">
    <div class="items">
      <ng-container *ngFor="let item of items">
        <div>{{ item.name }}</div>
        <clr-select-container>
          <select clrSelect name="group" title="Select a group" (change)="onSelectGroup(item, $event)">
            <option value="">Select a group</option>
            <option *ngFor="let group of groups" [value]="group.name">
              {{ group.name }}
            </option>
          </select>
        </clr-select-container>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-outline" (click)="closeModal()">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="updateItems()">
      Apply
    </button>
  </div>
</clr-modal>
