<div class="favorites-container">
  <button
    class="btn-star btn btn-inverse btn-link"
    (click)="togglePageFavorite()"
  >
    {{ currentFavoriteName }}
    <clr-icon
      shape="star"
      size="24"
      [class.is-solid]="currentFavoriteName"
    ></clr-icon>
    <span class="sr-only">
      {{ currentFavoriteName ? 'Remove from favorites' : 'Add to favorites' }}
    </span>
    <span *ngIf="currentFavoriteName">
      {{ currentFavoriteName }}
    </span>
  </button>
  <clr-modal
    [clrModalOpen]="(isModalFavoriteOpened$ | async) || false"
    [clrModalClosable]="false"
    [clrModalSize]="'lg'"
  >
    <h3 class="modal-title">Create a new favorite</h3>
    <div class="modal-body">
      <form clrForm>
        <clr-input-container>
          <label>Name of the favorite</label>
          <input
            clrInput
            type="text"
            name="favoriteName"
            [(ngModel)]="favoriteName"
            placeholder="Enter a name"
            required
          />
        </clr-input-container>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="closeModalFavorites()"
        class="btn btn-secondary"
      >
        Close
      </button>
      <button type="button" (click)="addPageFavorite()" class="btn btn-primary">
        Add
      </button>
    </div>
  </clr-modal>
</div>
