<app-table-container>
    <table mat-table matSort [matSortActive]="options.sort.active" recycleRows matSortDisableClear [matSortDirection]="options.sort.direction" [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListDisabled]="lockColumns" (cdkDropListDropped)="onDrop($event)">
  
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
        <!-- Header -->
        <ng-container *ngIf="column.type !== 'select'">
          <th mat-header-cell mat-sort-header [disabled]="!column.sortable" *matHeaderCellDef cdkDrag appNoWrap>
            {{ column.name }}
          </th>
        </ng-container>
        <!-- Header for selection -->
        <ng-container *ngIf="column.type === 'select'">
          <th mat-header-cell *matHeaderCellDef cdkDrag appNoWrap>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
        </ng-container>
        <!-- Columns -->
        <ng-container *ngIf="column.type !== 'actions'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <app-table-cell
              [value$]="element.value$"
              [column]="column"
              [element]="element"
              [statusesService]="_tasksStatusesService"
              [isSelected]="selection.isSelected(element.raw.id)"
              (changeSelection)="selection.toggle(element.raw.id)"
            />
          </td>
        </ng-container>
        <!-- Actions -->
        <ng-container *ngIf="column.type === 'actions'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <app-table-actions [actions]="actions" [element]="element" />
          </td>
        </ng-container>
      </ng-container>
  
      <!-- Empty -->
      <tr *matNoDataRow>
        <td [attr.colspan]="displayedColumns.length">
          <app-table-empty-data/>
        </td>
      </tr>
  
      <tr mat-header-row *matHeaderRowDef="columnKeys; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnKeys;"></tr>
    </table>
  
    <mat-paginator [length]="total" [pageIndex]="options.pageIndex" [pageSize]="options.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tasks" i18n-aria-label>
      </mat-paginator>
  </app-table-container>
  
  <ng-template #noDate>
    <span> - </span>
  </ng-template>