<app-table-container>
    <table mat-table matSort [matSortActive]="options.sort.active" recycleRows matSortDisableClear [matSortDirection]="options.sort.direction" [dataSource]="data" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListDisabled]="lockColumns" (cdkDropListDropped)="onDrop($event)">
  
      <ng-container *ngFor="let column of displayedColumns; trackBy:trackByColumn" [matColumnDef]="column.key">
        <!-- Header -->
        <ng-container *ngIf="column.type !== 'select'">
          <th mat-header-cell mat-sort-header [disabled]="!column.sortable" *matHeaderCellDef cdkDrag appNoWrap>
            {{ column.name }}
          </th>
        </ng-container>
        <!-- Header for selection -->
        <ng-container *ngIf="column.type === 'select'">
          <th mat-header-cell *matHeaderCellDef cdkDrag appNoWrap>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
        </ng-container>
  
        <!-- Selection -->
        <ng-container *ngIf="column.type === 'select'">
         <td mat-cell *matCellDef="let element" appNoWrap>
             <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(element.raw.id) : null"
                [checked]="selection.isSelected(element.raw.id)"
                [aria-label]="checkboxLabel(element)">
              </mat-checkbox>
          </td>
        </ng-container>
        <!-- Columns -->
        <ng-container *ngIf="column.type === 'simple'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <span> {{ handleNestedKeys(column.key, element.raw) | emptyCell }} </span>
          </td>
        </ng-container>
        <!-- ID -->
        <ng-container *ngIf="column.type === 'link' && column.key === 'id'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <a mat-button
              [routerLink]="['/tasks/', element.raw[column.key]]"
            >
              {{ element.raw[column.key] }}
            </a>
          </td>
        </ng-container>
        <!-- Status -->
        <ng-container *ngIf="column.type === 'status'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <span> {{ statusToLabel(element.raw[column.key]) }} </span>
          </td>
        </ng-container>
        <!-- Date -->
        <ng-container *ngIf="column.type === 'date'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <ng-container *ngIf="element.raw[column.key]; else noDate">
              {{ columnToDate(element.raw[column.key]) | date: 'yyyy-MM-dd &nbsp;HH:mm:ss.SSS' }}
            </ng-container>
          </td>
        </ng-container>
        <!-- Duration -->
        <ng-container *ngIf="column.type === 'duration'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <!-- TODO: move this function to a service in order to reuse extraction logic -->
            {{ extractData(column.key, element) | duration | emptyCell }}
          </td>
        </ng-container>
        <!-- Object -->
        <ng-container *ngIf="column.type === 'object'">
         <td mat-cell *matCellDef="let element" appNoWrap>
            <app-table-inspect-object [object]="handleNestedKeys(column.key, element)" [label]="column.name"></app-table-inspect-object>
          </td>
        </ng-container>
        <!-- Generics -->
        <ng-container *ngIf="column.type === 'custom'">
          <td mat-cell *matCellDef="let element" appNoWrap>
            {{handleGenericColumn(column.key, element.raw)}}
          </td>
        </ng-container>
        <!-- Actions -->
        <ng-container *ngIf="column.type === 'actions'">
          <!-- TODO: use icons service -->
          <td mat-cell *matCellDef="let element" appNoWrap>
            <button mat-icon-button [matMenuTriggerFor]="menu" (menuOpened)="this.stopInterval.next()" (menuClosed)="this.interval.next(this.intervalValue)" aria-label="Show more" i18n-aria-label>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <app-table-actions [actions]="actions" [element]="element" />
            </mat-menu>
          </td>
        </ng-container>
      </ng-container>
  
      <!-- Empty -->
      <tr *matNoDataRow>
        <td [attr.colspan]="displayedColumns.length">
          <app-table-empty-data></app-table-empty-data>
        </td>
      </tr>
  
      <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
      <tr mat-row *matRowDef="let row; columns: columnKeys;"></tr>
    </table>
  
    <mat-paginator [length]="total" [pageIndex]="options.pageIndex" [pageSize]="options.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tasks" i18n-aria-label>
      </mat-paginator>
  </app-table-container>
  
  <ng-template #noDate>
    <span> - </span>
  </ng-template>