<app-table-container>
    <table mat-table matSort [matSortActive]="options.sort.active" recycleRows matSortDisableClear [matSortDirection]="options.sort.direction" [dataSource]="data" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListDisabled]="lockColumns" (cdkDropListDropped)="onDrop($event)">
  
      <ng-container *ngFor="let column of displayedColumns; trackBy:trackByColumn" [matColumnDef]="column">
        <!-- Header -->
        <ng-container *ngIf="!isSelectColumn(column)">
          <th mat-header-cell mat-sort-header [disabled]="isNotSortableColumn(column)" *matHeaderCellDef cdkDrag appNoWrap>
            {{ columnToLabel(column) }}
          </th>
        </ng-container>
        <!-- Header for selection -->
        <ng-container *ngIf="isSelectColumn(column)">
          <th mat-header-cell *matHeaderCellDef cdkDrag appNoWrap>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
        </ng-container>
  
        <!-- Selection -->
        <ng-container *ngIf="isSelectColumn(column)">
         <td mat-cell *matCellDef="let element" appNoWrap>
             <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(element.raw.id) : null"
                [checked]="selection.isSelected(element.raw.id)"
                [aria-label]="checkboxLabel(element)">
              </mat-checkbox>
          </td>
        </ng-container>
        <!-- Columns -->
        <ng-container *ngIf="isSimpleColumn(column)">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <span> {{ show(element.raw, column) | emptyCell }} </span>
          </td>
        </ng-container>
        <!-- ID -->
        <ng-container *ngIf="isTaskIdColumn(column)">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <a mat-button
              [routerLink]="['/tasks/', element.raw[column]]"
            >
              {{ element.raw[column] }}
            </a>
          </td>
        </ng-container>
        <!-- Status -->
        <ng-container *ngIf="isStatusColumn(column)">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <span> {{ statusToLabel(element.raw[column]) }} </span>
          </td>
        </ng-container>
        <!-- Date -->
        <ng-container *ngIf="isDateColumn(column)">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <ng-container *ngIf="element.raw[column]; else noDate">
              {{ columnToDate(element.raw[column]) | date: 'yyyy-MM-dd &nbsp;HH:mm:ss.SSS' }}
            </ng-container>
          </td>
        </ng-container>
        <!-- Duration -->
        <ng-container *ngIf="isDurationColumn(column)">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <!-- TODO: move this function to a service in order to reuse extraction logic -->
            {{ extractData(element, column) | duration | emptyCell }}
          </td>
        </ng-container>
        <!-- Object -->
        <ng-container *ngIf="isObjectColumn(column)">
         <td mat-cell *matCellDef="let element" appNoWrap>
            <app-table-inspect-object [object]="handleNestedKeys(column, element.raw)" [label]="columnToLabel(column)"></app-table-inspect-object>
          </td>
        </ng-container>
        <!-- Generics -->
        <ng-container *ngIf="isGenericColumn(column)">
          <td mat-cell *matCellDef="let element" appNoWrap>
            {{handleGenericColumn(column, element.raw)}}
          </td>
        </ng-container>
        <!-- Actions -->
        <ng-container *ngIf="isActionsColumn(column)">
          <td mat-cell *matCellDef="let element" appNoWrap>
            <app-table-actions [actions]="actions" [element]="element" />
          </td>
        </ng-container>
      </ng-container>
  
      <!-- Empty -->
      <tr *matNoDataRow>
        <td [attr.colspan]="displayedColumns.length">
          <app-table-empty-data></app-table-empty-data>
        </td>
      </tr>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="total" [pageIndex]="options.pageIndex" [pageSize]="options.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tasks" i18n-aria-label>
      </mat-paginator>
  </app-table-container>
  
  <ng-template #noDate>
    <span> - </span>
  </ng-template>