<app-table-container>
  <table mat-table matSort [matSortActive]="options.sort.active" recycleRows matSortDisableClear [matSortDirection]="options.sort.direction" [dataSource]="data" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListDisabled]="lockColumns" (cdkDropListDropped)="onDrop($event)">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
      <!-- Header -->
      <th mat-header-cell mat-sort-header [disabled]="!column.sortable" *matHeaderCellDef cdkDrag appNoWrap>
        {{ column.name }}
        <button mat-icon-button *ngIf="column.type === 'count'" (click)="personalizeTasksByStatus()" i18n-matTooltip matTooltip="Personalize Tasks Status">
          <mat-icon aria-hidden="true" [fontIcon]="getIcon('tune')"></mat-icon>
        </button>
      </th>
      <!-- Application Column -->
      <td mat-cell *matCellDef="let element" appNoWrap>
        <app-table-column 
          [column]="column"
          [element]="element"
          [tasksStatusesColored]="tasksStatusesColored"
        />
      </td>
      <!-- Action -->
      <ng-container *ngIf="column.type === 'actions'">
        <td mat-cell *matCellDef="let element" appNoWrap>
         <button mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Actions" i18n-aria-label>
            <mat-icon [fontIcon]="getIcon('more')"></mat-icon>
         </button>
         <mat-menu #menu="matMenu">
          <app-table-actions [actions]="actions" [element]="element" />
         </mat-menu>
        </td>
      </ng-container>
    </ng-container>
    <!-- Empty -->
    <tr *matNoDataRow>
      <td [attr.colspan]="displayedColumns.length">
        <app-table-empty-data></app-table-empty-data>
      </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
    <tr mat-row *matRowDef="let row; columns: columnKeys"></tr>
  </table>
  <mat-paginator [length]="total" [pageIndex]="options.pageIndex" [pageSize]="options.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of applications">
  </mat-paginator>
</app-table-container>