<clr-combobox-container>
  <label>{{
    'pages.sessions.session-detail.table.filters.status.title' | translate
  }}</label>
  <clr-combobox
    [ngModel]="selection"
    (ngModelChange)="onSelectionChange($event)"
    clrMulti="true"
  >
    <ng-container *clrOptionSelected="let selected">
      {{
        'pages.sessions.session-detail.table.filters.status.' +
          taskStatus[selected] | translate
      }}
    </ng-container>
    <clr-options>
      <clr-option
        *clrOptionItems="let item of status"
        clrOptionItemsField="label"
        [clrValue]="item.value"
      >
        {{
          'pages.sessions.session-detail.table.filters.status.' + item.label
            | translate
        }}
      </clr-option>
    </clr-options>
  </clr-combobox>
</clr-combobox-container>
