<clr-combobox-container>
  <label>
    {{ 'pages.sessions.session-detail.table.filters.status.title' | translate }}
  </label>
  <clr-combobox
    [ngModel]="selectedValues"
    (clrSelectionChange)="onSelectionChange()"
    clrMulti="true"
  >
    <ng-container *clrOptionSelected="let selected">
      {{
        'pages.sessions.session-detail.table.filters.status.' +
          taskStatus[selected] | translate
      }}
    </ng-container>
    <clr-options>
      <clr-option
        *clrOptionItems="let item of status"
        clrOptionItemsField="label"
        [clrValue]="item.value"
      >
        {{ 'pages.tasks-list.filters.status.' + item.label | translate }}
      </clr-option>
    </clr-options>
  </clr-combobox>
</clr-combobox-container>

<button *ngIf="isActive()" class="btn btn-sm" (click)="clear()">
  Clear filter
</button>
