<clr-select-container>
  <label
    >{{
      'pages.sessions.session-detail.table.filters.status.title' | translate
    }}
  </label>
  <select clrSelect [name]="name" (change)="onChange($event)">
    <option value="">
      {{
        'pages.sessions.session-detail.table.filters.status.default' | translate
      }}
    </option>
    <option *ngFor="let item of status" [value]="item">
      {{
        'pages.sessions.session-detail.table.filters.status.' + taskStatus[item]
          | translate
      }}
    </option>
  </select>
</clr-select-container>
