<div class="tasks">

  <div class="section-header">
    <div class="title">
      <ng-content section-header></ng-content>
    </div>

    <div class="actions">
      <app-dashboard-view-removed-items [items]="removedItems" [groups]="groups" (applyChange)="onRemovedItemsChange()">
      </app-dashboard-view-removed-items>
      <app-dashboard-create-new-group (newGroup)="onNewGroup($event)"></app-dashboard-create-new-group>
    </div>
  </div>

  <div cdkDropListGroup class="groups">
    <div *ngFor="let group of groups; index as i; trackBy: trackByItems" cdkDropList [cdkDropListData]="group.items"
      (cdkDropListDropped)="drop($event)" class="group"
      [attr.style]="'--color: var(--color-' + group.color + ');--outline-color: var(--outline-color-' + group.color + ')'">
      <div class="group-header">
        <div class="group-title">
          {{ group.name }}
        </div>
        <div class="group-actions">
          <app-dashboard-rename-group [group]="group" (groupChange)="onGroupNameChange()">
          </app-dashboard-rename-group>
          <app-dashboard-group-actions-button (click)="deleteGroup(group)">
            <span class="sr-only">
              Delete the group
            </span>
            <cds-icon shape="trash" solid></cds-icon>
          </app-dashboard-group-actions-button>
        </div>
      </div>
      <ng-container *ngFor="let item of group.items; index as i; trackBy: trackByItem">
        <div cdkDrag class="item">
          <div class="dot"></div>
          <span>
            {{ item.name }}
          </span>
          <span>
            <button (click)="onRemove(item)" class="remove btn btn-sm btn-danger btn-icon"
              [title]="'Remove ' + item.name" type="button">
              <span class="sr-only">
                Remove the item
              </span>
              <cds-icon shape="eye-hide" solid></cds-icon>
            </button>
          </span>
          <span class="value">
            {{ item.value }}
            <span class="value-percent">
              ({{ item.value / total() | percent : '1.0-2' }})
            </span>
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
