.lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;
}

.status-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  outline: 2px solid;
}

// Colors will be global variables (et faire un dump de la liste pour un affichage similaire dans les cartes des applications (voir pour un truc plus compact))
.status-dot:is(.unspecified) {
  background-color: hsl(0, 0%, 80%);
  outline-color: hsl(0, 0%, 80%, 0.7);
}

.status-dot:is(.creating, .submitted, .dispatched) {
  background-color: hsl(32, 95%, 44%);
  outline-color: hsl(32, 95%, 44%, 0.7);
}

.status-dot:is(.processing, .processed) {
  background-color: hsl(41, 96%, 40%);
  outline-color: hsl(41, 96%, 40%, 0.7);
}

.status-dot:is(.completed) {
  background-color: hsl(142, 76%, 36%);
  outline-color: hsl(142, 76%, 36%, 0.7);
}

.status-dot:is(.cancelling, .cancelled) {
  background-color: hsl(21, 90%, 48%);
  outline-color: hsl(21, 90%, 48%, 0.7);
}

.status-dot:is(.timeout, .error) {
  background-color: hsl(0, 72%, 51%);
  outline-color: hsl(0, 72%, 51%, 0.7);
}

.status {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.status .data {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.5rem;
}

.status-value {
  flex-grow: 1;

  text-align: end;
  font-size: 1em;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}


// with drag and drop

.tasks {

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .new-group {
      opacity: 0;
    }

  }

  &:hover .actions .new-group {
    opacity: 1;

    transition: opacity var(--transition-duration) var(--transition-timing-function);
  }

  .groups {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem;

    .group {
      .group-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .group-title {
          font-size: 0.6rem;
          font-weight: 700;
        }

        .group-actions {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 0.25rem;

          button {
            opacity: 0;

            margin: 0;
            padding: 0.25rem;
            color: hsl(198, 0%, 95%);
            background: inherit;
            border: none;

            cursor: pointer;

            cds-icon {
              width: 0.75rem;
              height: 0.75rem;
            }
          }
        }
      }

      &:hover .group-header .group-actions button {
        opacity: 1;
        transition: opacity var(--transition-duration) var(--transition-timing-function);
      }
    }


    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      text-transform: capitalize;

      .dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        outline: 2px solid;
        background-color: var(--color);
        outline-color: var(--outline-color);
      }

      .remove {
        opacity: 0;
      }

      &:hover .remove {
        opacity: 1;

        transition: opacity var(--transition-duration) var(--transition-timing-function);
      }

    }
  }
}

.item.cdk-drag-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  opacity: 0.6;
  text-transform: capitalize;

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    outline: 2px solid;
    outline-color: var(--outline-color-grey);
  }

  .remove {
    opacity: 0;
  }
}
