<button mat-button class="external-services" [matMenuTriggerFor]="external_services" matTooltip="Access to external services">
  <mat-icon matListItemIcon aria-hidden="true" [fontIcon]="getIcon('arrow-down')"/>
  <span i18n="Button to view external services">
    External Services
  </span>
</button>
<mat-menu #external_services="matMenu">
  @for (service of externalServices; track service.url) {
    <a mat-menu-item [href]="service.url" target="_blank" rel="noopener noreferrer">
      @if (service.icon) {
        <mat-icon matListItemIcon aria-hidden="true" [fontIcon]="getIcon(service.icon)"/>
      }
      <span>{{ service.name }}</span>
    </a>
  }
  @if (externalServices.length) {
    <mat-divider/>
  }
  <button mat-menu-item (click)="manageExternalServices()">
    <mat-icon matListItemIcon aria-hidden="true" [fontIcon]="getIcon('tune')"/>
    <span i18n="Button">Manage services</span>
  </button>
</mat-menu>