mat-divider {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.form-divider {
  margin: 1rem;
  margin-left: 0;
  margin-right: 0;
}

.mobile-form {
  column-gap: 0;
  align-items: start;
}

.field-name {
  flex: 1;
}

.field-name-mobile {
  flex: 100%
}

.field-url {
  flex: 3;
}

.field-url-mobile {
  flex: 60%;
}

.section-mobile {
  flex: 40%;
  display: flex;
}

button, button:hover {
  box-shadow: none;
}

.external-services {
  padding: 0;
  margin-bottom: 0;
}

.external-services li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.25rem;
}

.external-services li .name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.external-services li .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1rem;
  flex: 1;
}

[cdkDragHandle] {
  padding: 0.75rem;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.cdk-drag-preview {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 1rem;

  color: rgba(255, 255, 255, 0.6);
}

.cdk-drag-preview .name {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cdk-drag-preview .actions {
  display: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging li:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

app-form-external-service {
  width: 100%;
}