@if (isHandset) {
  <mat-divider class="form-divider" />
}
<form [formGroup]="externalServiceForm" (ngSubmit)="onSubmit()" [class]="isHandset ? 'mobile-form' : ''">
  <mat-form-field [class]="isHandset ? 'field-name-mobile' : 'field-name'" appearance="outline" subscriptSizing="dynamic">
    <mat-label for="name" i18n="Name of the external service">Name</mat-label>
    <input matInput id="name" type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field [class]="isHandset ? 'field-url-mobile' : 'field-url'" appearance="outline" subscriptSizing="dynamic">
    <mat-label for="url" i18n="URL of the external service"> URL </mat-label>
    <input matInput id="url" type="url" formControlName="url">
  </mat-form-field>
  <section [class]="isHandset ? 'section-mobile' : ''">
    <app-icon-picker
    [icon]="externalServiceForm.value.icon"
    (iconChange)="onIconChange($event)"
    />
    @if (externalService) {
    <button mat-icon-button color="accent" type="submit" i18n-matTooltip matTooltip="Edit the service">
      <mat-icon [fontIcon]="getIcon('edit')" />
    </button>
    } @else {
    <button mat-icon-button color="accent" type="submit" i18n-matTooltip matTooltip="Add the service">
      <mat-icon [fontIcon]="getIcon('add')" />
    </button>
    }
  </section>
</form>
@if (isHandset) {
  <mat-divider class="form-divider" />
}