<app-page-header [sharableURL]="sharableURL">
  <mat-icon matListItemIcon aria-hidden="true" [fontIcon]="getIcon('profile')"></mat-icon>
  <span>
    <span i18n="Page title"> Profile from </span>
    <span> {{ user.username }} </span>
  </span>
</app-page-header>

<p i18n="Description of the page">
  This is your profile page. You can see your user data below.
</p>

<app-page-section>
  <app-page-section-header icon="group">
    Roles
  </app-page-section-header>

  @if (user.roles && user.roles.length) {
    <ul>
      <!-- TODO: Add in issue the needed of adding custom roles to the user -->
      @for (role of user.roles; track role) {
        <li>
          {{ role }}
        </li>
      }
    </ul>
  } @else {
    <p>
      <em i18n>
        You do not have any roles.
      </em>
    </p>
  }

  <!-- TODO: Add a button to read more about permissions -->
</app-page-section>

<app-page-section>
  <app-page-section-header icon="lock">
    <span i18n="Section title"> Permissions </span>
  </app-page-section-header>

  @if (user.permissions && user.permissions.length) {
    <div class="permissions">
      @for (group of groupedPermissions(); track group.name) {
        <div class="permission">
          <h3>
            <mat-icon matListItemIcon aria-hidden="true" [fontIcon]="getIcon(group.name)"></mat-icon>
            {{ group.name }}
          </h3>
          <ul>
            <!-- TODO: Create a page in documentation (ArmoniK) in order to explain what's does that mean -->
            @for (permission of group.permissions; track permission) {
              <li>
                {{ permission }}
              </li>
            }
          </ul>
        </div>
      }
    </div>
  } @else {
    <p>
      <em i18n>
        You do not have any permissions.
      </em>
    </p>
  }
</app-page-section>