<clr-date-container>
  <label>
    {{ 'pages.components.filters.date.before' | translate }}
    <a role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content">
        {{ 'pages.components.filters.warning.before_date' | translate }}
      </span>
    </a>
  </label>
  <input
    type="date"
    clrDate
    name="beforeDate"
    [(clrDate)]="beforeDate"
    (clrDateChange)="onDateChange()"
  />
</clr-date-container>
<clr-date-container>
  <label>
    {{ 'pages.components.filters.date.after' | translate }}
    <a role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content">
        {{ 'pages.components.filters.warning.after_date' | translate }}
      </span>
    </a>
  </label>
  <input
    type="date"
    clrDate
    name="afterDate"
    [(clrDate)]="afterDate"
    (clrDateChange)="onDateChange()"
  />
</clr-date-container>
<button class="btn btn-sm" *ngIf="isActive()" (click)="clear()">
  {{ 'pages.components.filters.clear_filter' | translate }}
</button>
