<clr-date-container>
  <label>
    Before the
    <a role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content">
        Will display data with a date strictly inferior than indicated.
      </span>
    </a>
  </label>
  <input
    type="date"
    clrDate
    name="beforeDate"
    [(clrDate)]="beforeDate"
    (clrDateChange)="onDateChange()"
  />
</clr-date-container>
<clr-date-container>
  <label>
    After the
    <a role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content">
        Will display data with a date strictly superior than indicated.
      </span>
    </a>
  </label>
  <input
    type="date"
    clrDate
    name="afterDate"
    [(clrDate)]="afterDate"
    (clrDateChange)="onDateChange()"
  />
</clr-date-container>
<button class="btn btn-sm" *ngIf="isActive()" (click)="clear()">
  Clear the filter
</button>
