.mat-icon.deeppurple-amber svg .docs-theme-icon-background {
  fill: #fafafa
}

.mat-icon.deeppurple-amber svg .docs-theme-icon-button {
  fill: #ffc107
}

.mat-icon.deeppurple-amber svg .docs-theme-icon-toolbar {
  fill: #673ab7
}

.mat-icon.pink-bluegrey svg .docs-theme-icon-background {
  fill: #303030
}

.mat-icon.pink-bluegrey svg .docs-theme-icon-button {
  fill: #607d8b
}

.mat-icon.pink-bluegrey svg .docs-theme-icon-toolbar {
  fill: #e91e63
}

.mat-icon.purple-green svg .docs-theme-icon-background {
  fill: #303030
}

.mat-icon.purple-green svg .docs-theme-icon-button {
  fill: #4caf50
}

.mat-icon.purple-green svg .docs-theme-icon-toolbar {
  fill: #9c27b0
}

.purple-green .status.cdk-drag-preview,
.pink-bluegrey .status.cdk-drag-preview {
  color: rgba(255, 255, 255, 0.6);
}

.purple-green .task-status.cdk-drag-preview,
.pink-bluegrey .task-status.cdk-drag-preview {
  color: rgba(255, 255, 255, 0.6);
}

.purple-green .line.cdk-drag-preview,
.pink-bluegrey .line.cdk-drag-preview {
  color: rgba(255, 255, 255, 0.6);
}

.pink-bluegrey app-filters-dialog-or .filters,
.purple-green app-filters-dialog-or .filters {
  background-color: #303030;
  border-color: #424242;
}

ngx-mat-datepicker-content {
  opacity: 1;
}

.purple-green ngx-mat-datepicker-content, .pink-bluegrey ngx-mat-datepicker-content {
  background-color: #424242 !important;
  color: white;
}

.indigo-pink ngx-mat-datepicker-content, .deeppurple-amber ngx-mat-datepicker-content {
  background-color: white !important;
}

.indigo-pink .mat-calendar-arrow, .pink-bluegrey .mat-calendar-arrow {
  fill: white;
}

.purple-green .mat-calendar-body-cell-content, .pink-bluegrey .mat-calendar-body-cell-content  {
  color: white;
}

.purple-green .mat-calendar-body-cell-content:hover {
  background-color: #673ab7;
}

.pink-bluegrey .mat-calendar-body-cell-content:hover {
  background-color: #607d8b;
}

.purple-green .mat-calendar-body-selected {
  background-color: #9c27b0;
}

.pink-bluegrey .mat-calendar-body-selected {
  background-color: #e91e63;
}

.deeppurple-amber .mat-calendar-body-cell-content:hover {
  background-color: #ffc107;
}

.deeppurple-amber .mat-calendar-body-selected {
  background-color: #673ab7;
}

.mat-calendar-body-selected{
  color:white;
  background-color: royalblue;
}

.mat-calendar-body-cell-content:hover{
  color:white;
  opacity: 0.7;
  background-color: royalblue;
}
