.mat-icon.deeppurple-amber svg .docs-theme-icon-background {
  fill: #fafafa
}

.mat-icon.deeppurple-amber svg .docs-theme-icon-button {
  fill: #ffc107
}

.mat-icon.deeppurple-amber svg .docs-theme-icon-toolbar {
  fill: #673ab7
}

.mat-icon.pink-bluegrey svg .docs-theme-icon-background {
  fill: #303030
}

.mat-icon.pink-bluegrey svg .docs-theme-icon-button {
  fill: #607d8b
}

.mat-icon.pink-bluegrey svg .docs-theme-icon-toolbar {
  fill: #e91e63
}

.mat-icon.purple-green svg .docs-theme-icon-background {
  fill: #303030
}

.mat-icon.purple-green svg .docs-theme-icon-button {
  fill: #4caf50
}

.mat-icon.purple-green svg .docs-theme-icon-toolbar {
  fill: #9c27b0
}
