mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

mat-toolbar-row {
  height: fit-content !important;
  padding: 0 !important;
}

mat-card {
  padding: 0.25rem;
}

mat-card-title {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}