@use '@angular/material' as mat;
@use 'variables' as var;

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

h1, h2, h3, strong {
  font-weight: 500 !important;
}

.header-toolbar {
  border-radius: 0 !important;
  background-color: var(--armonik-header-background) !important;
  color: var(--armonik-header-color) !important;
}