// **** Colors ****
$success: #4caf50;
$warning: #ff9800;
$info: #2196f3;
$error: #f44336;
$error-secondary: #f4433677;

$grey-background: rgba(189, 189, 189, 0.6);
$dark-theme-font-color: rgba(255, 255, 255, 0.6);

// **** Table ****
$table-height: 60vh !default;