<clr-input-container>
  <input
    clrInput
    (input)="onChange()"
    type="text"
    [(ngModel)]="selectedValue"
    i18n-placeholder
    placeholder="Filter"
  />
  <label>
    <span i18n>Id</span>
    <div role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content" i18n>
        Will display data with an Id strictly equal to the one indicated.
      </span>
    </div>
  </label>
</clr-input-container>
<button *ngIf="isActive()" class="btn btn-sm" (click)="clear()" i18n>
  Clear the filter
</button>
