<clr-input-container>
  <input
    clrInput
    (input)="onChange()"
    type="text"
    [(ngModel)]="inputValue"
    placeholder="Filter"
  />
  <label>
    <a role="tooltip" aria-haspopup="true" class="tooltip tooptip-sm">
      <cds-icon shape="info-circle" size="22"></cds-icon>
      <span class="tooltip-content">
        'Will display data with an Id strictly equal to the one indicated.'
      </span>
    </a>
  </label>
</clr-input-container>
<button *ngIf="isActive()" class="btn btn-sm" (click)="clear()">
  Clear the filter
</button>
