<button mat-button [matMenuTriggerFor]="switchLanguage" [matTooltip]="languageButtonTip" [disabled]="availableLanguages.length === 0">
  <mat-icon matListItemIcon [fontIcon]="getIcon('language')" aria-hidden="true"/>
  <span>{{selectedLanguage.toLocaleUpperCase()}}</span>
</button>
<mat-menu #switchLanguage="matMenu">
  @for (language of availableLanguages; track language) {
    <a mat-menu-item [href]="'/admin/' + language + getRoute()" (click)="setLanguage(language)">{{language.toLocaleUpperCase()}}</a>
  }
</mat-menu>