<article>
  <mat-divider vertical />
  @if (!hasService) {
    <button mat-button (click)="manageExternalServices()">
      <mat-icon aria-hidden="true" [fontIcon]="getIcon('add')"/>
      <span i18n="Button">Add a service</span>
    </button>
  } @else {
    @for(service of externalServices; track service.name) {
      <button mat-icon-button color="accent" [matTooltip]="service.name" (click)="navigate(service.url)">
        <mat-icon [fontIcon]="getIcon(service.icon)"/>
      </button>
    }
    <button mat-icon-button (click)="manageExternalServices()" matTooltip="Manage external services">
      <mat-icon [fontIcon]="getIcon('tune')" />
    </button>
  }
  <mat-divider vertical />
</article>