<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label for="name" i18n="Name of the external service"> Name </mat-label>
        <input matInput id="name" type="text" formControlName="name" i18n-placeholder="Placeholder" placeholder="Name of the service" required>
        @if (serviceForm.get('name')?.hasError('required')) {
          <mat-error i18n="Input error">
            Name is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>

      <div class="icon">
        <span> Select an icon: </span>
        <app-icon-picker
        [icon]="icon"
        (iconChange)="icon = $event"
        ></app-icon-picker>
      </div>

      <mat-form-field class="grid-span-2" appearance="outline">
        <mat-label for="url" i18n="URL of the external service"> URL </mat-label>
        <input matInput id="url" type="url" formControlName="url" i18n-placeholder="Placeholder" placeholder="URL of the service" required>
        @if (serviceForm.get('url')?.hasError('required')) {
          <mat-error i18n="Input error">
            URL is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()" type="button" i18n="Dialog action"> Cancel </button>
      <button mat-flat-button type="submit" color="primary" [disabled]="!serviceForm.valid" i18n="Dialog action"> Confirm </button>
    </mat-dialog-actions>
  </form>
