<mat-toolbar color="primary">
  @if (isHandset$ | async) {
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  }
  <button mat-icon-button (click)="toggleSideBar()">
    @if (sideBarOpened) {
      <mat-icon [fontIcon]="getIcon('menu-open')" [dir]="'rtl'"/>
    } @else {
      <mat-icon [fontIcon]="getIcon('menu')" [dir]="'rtl'"/>
    }
  </button>
  <div class="title">
    <span>ArmoniK</span>
    <span> - </span>
    <span class="greeting">{{ greetings }}</span>
  </div>
  <div class="spacer"></div>
  <div class="environment" [style]="'color:' + environment.color + ';'" [matTooltip]="environment.description">
    {{ environment.name }} {{ environment.version }}
  </div>
  <div class="spacer"></div>
  <app-change-language-button />
  <app-healthcheck />
  <app-external-services />
  <app-versions-menu />
  <app-theme-selector/>
</mat-toolbar>
<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false && sideBarOpened">
    <div class="nav-container">
    <mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
      <ul>
        @for (item of navigationService.currentSidebar; track $index) {
        <li cdkDrag>
          @if (navigationService.edit()) {
            <mat-icon class="handle" cdkDragHandle [fontIcon]="getIcon('drag')" />
          }
          @if(item.type !== 'divider') {
          <a mat-list-item [routerLink]="item.route" routerLinkActive="navbar-item-selected" [disabled]="navigationService.edit()">
            <mat-icon matListItemIcon aria-hidden="true" [fontIcon]="getIcon(item.id)"></mat-icon>
            <span matListItemTitle> {{ item.display}} </span>
          </a>
          } @else {
            <mat-divider/>
          }
          @if (navigationService.edit()) {
            <button mat-icon-button (click)="deleteSideBarItem($index)">
              <mat-icon [fontIcon]="getIcon('delete')" />
            </button>
          }
        </li>
      }
      </ul>
      <a mat-list-item [routerLink]="'/settings'" routerLinkActive="navbar-item-selected">
        <mat-icon matListItemIcon aria-hidden="true" fontIcon="settings"></mat-icon>
        <span matListItemTitle> {{ settingsItem }} </span>
      </a>
    </mat-nav-list>
    @if (navigationService.edit()) {
      <button id="add-item-button" mat-flat-button color="primary" (click)="addNewSideBarItem()" i18n>Add item</button>
    }
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
