.sidenav-container {
  height: calc(100% - 64px);
}

.sidenav {
  min-width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-item-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.spacer {
  flex: 1 1 auto;
}

.greeting {
  font-weight: normal;
}

.environment {
  background: white;
  padding: 0 1rem;
  border-radius: 0.25rem;
}

main {
  padding: 20px 50px;
}

mat-nav-list {
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
}

.cdk-drag-handle {
  margin-right: 1rem;
}

mat-divider {
  width: 100%;
}

.handle {
  margin-right: 0.5rem;
}

.nav-container {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

#add-item-button {
  position: fixed;
  z-index: 2;
  bottom: 0;
  margin: 1rem;
}