@use 'styles' as *;
@use '@angular/material' as mat;

mat-sidenav-container {
  height: calc(100% - 56px) !important;
}

.sidenav {
  width: 200px;
  margin: 0.25rem 0;
}

.mat-toolbar {
  margin-bottom: 0 !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0.5rem !important;
}

.navbar-item-selected {
  background-color: var(--armonik-navbar-selected);
}

.spacer {
  flex: 1 1 auto;
}

.environment {
  background: white;
  padding: 0 1rem;
  border-radius: 0.25rem;
}

main {
  padding: 1rem 50px;
}

.mdc-icon-button > .mat-icon {
  color: var(--armonik-header-color) !important;
}