{
  "/api": {
    "target": "<protocol>://<host>:<port>",
    "secure": false
  },
  "/armonik.api.grpc.v1": {
    "target": "<protocol>://<host>:<port>",
    "secure": false
  },
  "/seq": {
    "target": "<protocol>://<host>:<port>",
    "secure": false
  }
}
