<button *ngIf="actions.length > 1" mat-icon-button [matMenuTriggerFor]="menu"
aria-label="Actions" i18n-aria-label>
<mat-icon fontIcon="more_vert" />
</button>
<mat-menu #menu="matMenu">
<ng-container *ngFor="let action of actions">
  <button mat-menu-item
    *ngIf="action.condition ? action.condition(element) : true"   
    (click)="action.action$.next(element)"
  >
    <mat-icon>{{ action.icon }}</mat-icon>
    <p>{{ action.label }}</p>
  </button>
</ng-container>
</mat-menu>
<button mat-button
  *ngIf="actions.length === 1 && (actions[0].condition ? actions[0].condition(element) : true)"   
  (click)="actions[0].action$.next(element)"
>
  <mat-icon>{{ actions[0].icon }}</mat-icon>
  <p>{{ actions[0].label }}</p>
</button>