@switch (column.type) {
  @case ('object') {
    <app-table-inspect-object [object]="handleNestedKeys(element)" [label]="column.name" />
  }
  @case ('message') {
    <app-table-inspect-message [label]="column.name" [message]="string" />
  }
  @case ('output') {
    <app-table-inspect-message [label]="column.name" [message]="string" />
  }
  @case ('link') {
    <button mat-button (click)="navigate()">
      {{ value | emptyCell }}
    </button>
  }
  @case ('duration') {
    {{ durationValue | duration | emptyCell }}
  }
  @case ('date') {
    {{ dateValue | date: 'yyyy-MM-dd &nbsp;HH:mm:ss' | emptyCell }}
  }
  @case ('status') {
    {{ statusLabel().label }}
  }
  @case ('count') {
    <app-count-tasks-by-status
      [refresh]="refreshStatuses"
      [filters]="countFilters"
      [statusesGroups]="statusesGroups"
      [queryParams]="queryTasksParams"
    />
  }
  @case ('select') {
    <mat-checkbox
      (click)="$event.stopPropagation()"
      (change)="$event ? onSelectionChange() : null"
      (keydown.enter)="$event ? onSelectionChange() : null"
      [checked]="isSelected"
      [aria-label]="checkboxLabel()"
    />
  }
  @default {
    {{ value | emptyCell }}
  }
}