mat-dialog-content {
  width: 40rem;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem 0 1rem;
}

h2 {
  margin: 0;
  padding: 0 0 0.75rem 0;
}