em {
  display: block;
  margin: 1rem 0;
  text-align: center;
}

table {
  background-color: var(--armonik-table-background) !important;
}

::ng-deep {
  .mat-mdc-table-sticky-border-elem-left {
    width: 2.5rem;
  }
}