@if (type !== 'count' && type !== 'select' && type !== 'status') {
  {{ name }}
} @else if (type === 'status') {
  {{ name }}
  <app-status-color-picker />
} @else if(type === 'count') {
  <!-- Header for count columns -->
  {{ name }}
  <button mat-icon-button (click)="onPersonnalizeStatuses()" i18n-matTooltip
    matTooltip="Personalize Statuses">
    <mat-icon aria-hidden="true" [fontIcon]="icon" />
  </button>
} @else {
  <!-- Header for selection -->
  <mat-checkbox (change)="onToggleAllRows()" [checked]="checked" [indeterminate]="isSelectionIndeterminate" [aria-label]="checkBoxLabel" />
}