@if (actions.length > 1) {
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions" i18n-aria-label>
    <mat-icon fontIcon="more_vert" />
  </button>
} @else if (actions[0].condition && actions[0].condition(element) || !actions[0].condition) {
  <button mat-button (click)="actions[0].action$.next(element)">
    <mat-icon [fontIcon]="getIcon(actions[0].icon)"/>
    <p>{{ actions[0].label }}</p>
  </button>
}

<mat-menu #menu="matMenu">
  @for (action of actions; track action.label) {
    @if (action.condition && action.condition(element) || !action.condition) {
      <button mat-menu-item (click)="action.action$.next(element)">
      <mat-icon [fontIcon]="getIcon(action.icon)"/>
      <p>{{ action.label }}</p>
    </button>
    }
  }
</mat-menu>
