name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - run: npm i -g @antfu/ni
      - run: corepack enable

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          scope: 'repository'
          node-version: 18
          cache: pnpm

      - name: Install dependencies
        run: nci

      - name: Lint
        run: nr lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      
      - run: npm i -g @antfu/ni
      - run: corepack enable

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 18
          cache: pnpm

      - name: Install dependencies
        run: nci

      - name: Test
        run: nr test

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      
      - run: npm i -g @antfu/ni
      - run: corepack enable

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 18
          cache: pnpm

      - name: Install dependencies
        run: nci

      - name: Test
        run: nr test-coverage-ci

      - name: Coverage
        if: always()
        uses: MishaKav/jest-coverage-comment@main
        with:
          junitxml-title: JUnit
          junitxml-path: ./junit.xml
          coverage-title: Files coverage
          coverage-path: ./coverage.txt

  build:
    
    name: Build
    runs-on: ubuntu-latest
    steps:
      
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - run: npm i -g @antfu/ni
      - run: corepack enable

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 18
          cache: pnpm

      - name: Install dependencies
        run: nci

      - name: Build
        run: nr build

 