name: CD Docker

on:
  pull_request:
    branches:
      - 'main'
    # tags:
    #   - '*'

permissions:
  contents: write

jobs:
  docker:
    if: github.repository == 'aneoconsulting/ArmoniK.Admin.GUI'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            dockerhubaneo/armonik_admin_app
          # generate Docker tags based on the following events/attributes
          tags: |
            type=edge,branch=main
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      
      - name: Modify version in package.json to follow tagging
        run: |
          echo $(jq '.version = "${{ env.DOCKER_METADATA_OUTPUT_VERSION }}"' package.json)  > package.json 

      - name: Login to DockerHub
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@af5a7ed5ba88268d5278f7203fb52cd833f66d6e # v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ./Dockerfile

      - run: npx changelogithub
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  
  docker_scout:
    runs-on: ubuntu-latest
    steps:
      - name: Docker Scout
        uses: docker/scout-action@v1
        with:
          command: cves, recommendations
          image: dockerhubaneo/armonik_admin_app:${{ steps.meta.outputs.tags }}
          write-comment: false
