<app-page-header [sharableURL]="sharableURL">
  <mat-icon aria-hidden="true" [fontIcon]="getIcon('settings')"></mat-icon>
  <span i18n="Page title"> Settings </span>
</app-page-header>

<p i18n="Page description">
  Settings are stored in your browser. They are not synced across devices. But you can export and import them manually. This is useful if you want to use the same settings on multiple devices or browsers. You can also create presets and switch between them.
</p>

<main>
  <app-page-section class="sidebar">
    <app-page-section-header icon="format_list_bulleted">
      <span i18n="Section title"> Sidebar </span>
    </app-page-section-header>

    <p i18n="Section description">
      Add, remove and reorder, using drap and drop, the items from the sidebar.
    </p>

    <div class="actions navbar between">
      <div class="actions">
        <button mat-flat-button (click)="onSaveSidebar()" color="primary" type="button" i18n="Form">Save</button>
        <button mat-stroked-button (click)="onResetSidebar()" type="button" i18n="Form">Reset</button>
      </div>
      <button mat-stroked-button (click)="onClearSideBar()" type="button" i18n="Form">Reset to default</button>
    </div>

    <ul class="sidebar-items" cdkDropList (cdkDropListDropped)="drop($event)">
      @for (item of sidebar; track item+$index) {
        <li cdkDrag>
          <div class="sidebar-item-drag">
            <mat-icon cdkDragHandle aria-hidden="true" [fontIcon]="findSidebarItem(item).icon ?? 'horizontal_rule'"></mat-icon>
          </div>
  
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label i18n="Sidebar item label"> Sidebar item </mat-label>
            <mat-select [value]="item" (valueChange)="onSidebarItemChange($index, $event)">
              @for (sidebarItem of getSidebarItems(); track sidebarItem.name) {
                <mat-option [value]="sidebarItem.value">
                  {{ sidebarItem.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
  
          <button mat-icon-button (click)="onRemoveSidebarItem($index)">
            <mat-icon aria-hidden="true" [fontIcon]="getIcon('delete')"/>
          </button>
        </li>
      }
      <button class="add-sidebar-item" mat-stroked-button (click)="onAddSidebarItem()">
        <mat-icon aria-hidden="true" [fontIcon]="getIcon('add')"></mat-icon>
        <span i18n> Add an item </span>
      </button>
    </ul>
  </app-page-section>

  <section>
    <app-page-section class="storage">
      <app-page-section-header [icon]="getIcon('storage')">
        <span i18n="Section title"> Storage </span>
      </app-page-section-header>

      <p i18n="Section description">
        Delete data stored in your browser by this application. This will reset behavior and settings to their default values.
      </p>

      <form (submit)="onSubmitStorage($event)" #storageForm>
        @if (keys.size) {
          <ul>
            @for (key of keys; track key) {
              <li>
                <mat-checkbox [name]="key" (change)="updateKeySelection($event)">
                  {{ key }}
                </mat-checkbox>
              </li>
            }
          </ul>
        } @else {
          <p>
            <em i18n="No key">
              No data stored in your browser.
            </em>
          </p>
        }
        <div class="actions storage between">
          <div class="actions selection">
            <button mat-flat-button color="warn" type="submit" i18n="Form" [disabled]="selectedKeys.size === 0">
              Clear
            </button>
            <button mat-stroked-button type="reset" i18n="Form" (click)="storageForm.reset();selectedKeys.clear()" [disabled]="selectedKeys.size === 0">
              Reset Selection
            </button>
          </div>
          <button mat-stroked-button type="button" i18n="Form" (click)="clearAll()" [disabled]="keys.size === 0">
            Clear All
          </button>
        </div>
      </form>
    </app-page-section>

    <app-page-section class="export">
      <app-page-section-header [icon]="getIcon('download')">
        <span i18n="Section title"> Export your data </span>
      </app-page-section-header>

      <p i18n="Section description">
        Export your settings as a JSON file. This file can be imported later to restore your settings.
      </p>

      <div class="actions">
        <button mat-flat-button color="primary" (click)="exportData()" i18n>Export</button>
      </div>
    </app-page-section>

    <app-page-section class="import">
      <app-page-section-header [icon]="getIcon('upload')">
        <span i18n="Section title"> Import your data </span>
      </app-page-section-header>

      <p i18n="Section description">
        Import your settings from a JSON file. This will overwrite your current settings.
      </p>

      <form (submit)="onSubmitImport($event)">
        <div class="file">
          <label for="file" class="custom-file-upload">
            <mat-icon [fontIcon]="getIcon('upload')" />
            <span i18n="Label input">Browse files...</span>
          </label>
          <input id="file" type="file" accept="application/json" (change)="addConfigFile($event)" required>
          <span>{{fileName}}</span>
        </div>

        <div class="actions import">
          <button mat-stroked-button type="reset" i18n="Form">Reset</button>
          <button mat-flat-button color="primary" type="submit" i18n="Form">Import</button>
        </div>
      </form>
    </app-page-section>
  </section>
</main>