app-page-section + app-page-section {
  display: block;
  margin-top: 2rem;
}

main {
  display: flex;
  justify-content: space-between;
}

.sidebar-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sidebar-items li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.add-sidebar-item {
  margin-top: 1rem;
  width: 66%;
}

.storage ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 0.5rem;
}

.ul-mobile {
  grid-template-columns: auto !important;
}

.storage li {
  /* do not wrap word */
  white-space: nowrap;
}

.import .file {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.file {
  align-items: center;
}

.actions {
  display: flex;
  gap: 1rem;
}

.between {
  justify-content: space-between;
}

.storage {
  margin-top: 1rem;
}

.import {
  margin-top: 1rem;
}

.navbar {
  margin-bottom: 1rem;
}

.cdk-drag-preview {
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging li:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.flex-column {
  flex-direction: column;
  gap: 3rem;
}